[2019-06-14 10:17] driesvints commented on #378
I'm sorry but we can't provide support for Algolia Scout extended, only Scout itself. Is the problem specifically happening for Algolia Scout extended? If so it's best that you post this on their issue tracker. If not: please test without Algolia Scout extended installed to see if it also occurs.

[2019-06-14 11:46] dorin-niscu commented on #378
@driesvints I confirm that I removed Algolia extended and it is the same behaviour. It works fine on update but not on store.

[2019-06-15 16:10] MatanYadaev commented on #377
Unfortunately I don't have any further information about this issue 😔
Anything you could advice me to check? What could goes wrong in a situation like this?

[2019-06-17 10:56] mrmonat commented on #284
This doesn't seem to work anymore as ```Model::search($query)``` returns an Instance of `\Laravel\Scout\Builder` instead of `\Illuminate\Database\Eloquent\Builder` ?

[2019-06-18 05:54] wisoot commented on #377
I see the similar errors from time to time roughly about 35 times in the pass 2 months. It doesn't seem to occur constantly but intermittently.
The error happen inside algolia package. Maybe the error should be suppressed if it is legit network error?

[2019-06-18 06:58] MatanYadaev commented on #377
@wisoot Yea but my issue is about it happens at the request and not async on the queue.
Why do the project communicate with Algolia at the request?

[2019-06-18 07:56] nunomaduro commented on #377
@MatanYadaev No worries, let's try to debug this together. To make sure I understand: You have 2 servers, the web server and another server responsible for the async tasks (queue) right? Both have the `Resolving timed out after...` issue?

[2019-06-18 09:02] MatanYadaev commented on #377
@nunomaduro Thanks for the help, I appreciate it. Yes, I have 2 servers, both have this issue.
In the API server it happened for 3 times, and at the Queue server it happened more than 200 times.

I really think that for some reason `MakeSearchable` isn't running on the queue server.
An example from Laravel Telescope:
![][https://i.ibb.co/RhkhLFB/image.png]
The hostname is `api-production` instead

[2019-06-23 22:50] mforcer commented on #339
@driesvints is this a TNT issue? The problem that I can see is that when using `search()` on a model it returns a Laravel\Scout\Builder instance which does not have access to load/with and neither does Collections obviously meaning neither of the relation loading methods can be used when returning results.

I've been forced to use the `paginate(0)` method to get around it.

[2019-06-24 08:38] driesvints commented on #339
@mforcer I believe so. Look at the line I linked to. It always returns a plain collection and not an Eloquent one.

[2019-06-24 16:18] driesvints commented on #378
@dorin-niscu I have to admit that I'm a bit swamped atm so I don't have time to deep-dive into this, sorry.

Maybe @nunomaduro or someone else can help out here?

[2019-07-06 11:51] diegoaurino commented on #378
I was facing a similar problem these days (with Algolia). The problem is that, for some reason, Scout appears to ignore relationship synchronizations on the store method. It looks like the `sync()` method does not change (touches) the timestamp of the model object that has been created on the store method in question. 

[$touches](https://laravel.com/docs/5.8/eloquent-relationships#touching-parent

[2019-07-06 12:15] moosapour-arash opened #379 "Set connect timeout configuration for Algolia php client"
- Scout Version: 7.1.1
- Laravel Version: 5.7.7
- PHP Version: 7..2

### Description:
i want to customize the timeout values in algolia php client , as described [here](https://www.algolia.com/doc/api-reference/api-methods/configuring-timeouts/)
is it possible / how to set these kind of configuration through scout ?

### Workaround
i have managed to set my desired configurations by calling extend

[2019-07-08 09:18] driesvints commented on #379
Think this would be a feature request. If you can send in a PR which implements the `SearchConfig` in a clean way that would be nice. My first thoughts are of indeed adding the settings to the Algolia config.

[2019-07-09 16:36] jcorrego commented on #201
I have the same issue, and it doesnt solve with restarting the queue

[2019-07-15 17:18] sebastiaanluca commented on #284
@driesvints Can't get it to work as in the example above, but is the following the preferred way of adding query parameters that will be applied to the search results?

[code]

[2019-07-16 09:56] driesvints commented on #284
@sebastiaanluca hmm, can't find an example in the docs. I think so yeah but unsure. Where does the `enabled` function come from? Are you using the latest 7.x release?

[2019-07-16 10:09] sebastiaanluca commented on #284
`enabled()` is just the model scope. Can be an eager load, scope, where, etc, but still have to write tests to assert this works. Using `laravel/scout` v7.1.2 in combination with `teamtnt/laravel-scout-tntsearch-driver` v7.1.0.

Applying a scope, limit, etc after the `search()` call throws an exception it can't find the method on the builder. Adding it before complains about `search()` not being a

[2019-07-18 11:36] driesvints commented on #284
@sebastiaanluca we don't `teamtnt/laravel-scout-tntsearch-driver`. Maybe this is an issue with this driver? Does it works with the Algolia driver?

[2019-07-18 13:24] sebastiaanluca commented on #284
Since it acts on Scout interfaces and classes I suspect it's unrelated to the used driver, but don't have a setup to test with the Algolia driver so can't compare unfortunately.

Tbh, I think it's just some incomplete or faulty documentation. Checking the Scout builder class, there's no magic method forwarding to the underlying query builder class, only a `query` method that `Set the callback that

[2019-08-01 17:00] prototypicalDave commented on #179
@DMeganoski thanks for that. Saved me a lot of time.

[2019-09-10 17:33] tillkruss opened #383 "Update user agent with each release"
@driesvints: Could you update the user agent with each release?

Could this even be automated somehow?

https://github.com/laravel/scout/blob/1e22f8e8442795233a344d3994b0d1e297bf3f92/src/EngineManager.php#L30-L40

[2019-09-10 17:37] driesvints commented on #383
@tillkruss urgh, sorry about that. Will do 👍

Not sure about how to automate this.

[2019-09-10 17:38] #383 closed

[2019-09-10 17:41] tillkruss commented on #383
Reading the composer `installed.json` seems terrible. Maybe a GitHub action?

https://github.com/release-it/release-it

[2019-09-10 17:43] driesvints commented on #383
Would have to be very specific for socialite I guess?

[2019-09-10 18:19] tillkruss opened #385 "Add user identification by default?"
From the Algolia docs:

Should we add this by default? Happy to open a PR.

 - https://www.algolia.com/doc/api-reference/api-methods/set-extra-header/
 - https://www.algolia.com/doc/guides/getting-insights-and-analytics/search-analytics/out-of-the-box-analytics/how-to/specify-which-user-is-doing-the-search/

[2019-09-10 19:52] nunomaduro commented on #385
Overall I think it's a good idea, you may also want to keep in mind this issue https://github.com/laravel/scout/issues/379 - as they are related and both want to modify the `SearchConfig` instance.

How would you see this concerning the developer experience?

[2019-09-10 20:08] tillkruss commented on #385
I assume @moosapour-arash won't be sending a PR, so this could be part of it. Great tip!

My first thoughts about solving this were automatically adding `X-Algolia-UserToken` and `X-Forwarded-For` as default headers. Probably a config toggle to turn it off for the Europeans.

[2019-09-10 20:26] tillkruss commented on #385
I guess this could be done fairly easily on a per-app basis:

[code]

[2019-09-10 20:29] tillkruss commented on #385
The question now is should Scout do this by default, or not?

[2019-09-10 20:34] moosapour-arash commented on #379
@tillkruss just a few days after i opened this, algolia banned all iranians IPs  due to sanctions ,both in frontend and client side APIs , so there is no point for me to contribute , feel free to send PR

[2019-09-24 21:08] driesvints commented on #383
Updated the user agent for the latest release.

[2019-09-25 14:57] jim0thy opened #388 "Non-static method exception using scout:import"
- Scout Version: 7.2.1
- Laravel Version: 6.0.4
- PHP Version: 7.2.21
- Database Driver & Version: MariaDB 10.4.6

### Description:
Calling `scout:import "App\Model"` causes the error:

The stack trace points to line 122 in **Searchable.php**:
[code]

This happens on all `Searchable` models across several projects, regardless of whether the model uses the `SoftDeletes` trait.

### Steps To Reprodu

[2019-09-25 15:45] jim0thy commented on #388
Ignore this, I'm an idiot.

[2019-09-25 15:45] #388 closed

[2019-09-26 10:52] agariaw opened #389 "Paginator Total Issue"
- Scout Version: 6.1.3
- Laravel Version: 5.8.35
- PHP Version: 7.3.4

### Description:
I'm using ElasticSearch with scout. after ElasticSearch returns rows like 50 from the search. I set a callback using query() function in \Laravel\Scout\Builder. In which I filter the returned results based on some other relationship. which sets the total items in collection to 1.  But the paginator
does not upd

[2019-09-26 10:55] nunomaduro commented on #389
@agariaw Are you using `babenkoivan/scout-elasticsearch-driver`?

[2019-09-26 10:57] driesvints commented on #389
I'm sorry but we don't support elasticsearch. Please try a support channel:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/invite/KxwQuKb)
- [Larachat](https://larachat.co)
- [IRC](https://webchat.freenode.net/?nick=laravelnewbie&channels=%2

[2019-09-26 10:57] #389 closed

[2019-09-26 11:03] agariaw commented on #389
@nunomaduro No I'm not.
@driesvints shouldn't this be a issue of scout as I'm using Laravel Scout Builder's function query() to filter data.  This class also sets the LengthAwarePaginator which is causing the issue?

[2019-09-26 15:03] driesvints commented on #389
@agariaw don't you need paginate instead of search?

[2019-09-26 16:40] agariaw commented on #389
Actually I need both. I am searching for the projects with the restriction of only shared with user. then paginate the result and send it to the browser. But paginator is not working correctly in this case I think.

[2019-09-26 21:59] Justicea83 opened #390 "Call to undefined method search"
"Call to undefined method Illuminate\Database\Eloquent\Builder::search()", exception: "BadMethodCallException", file: "C:\wamp64\www\gold-app\vendor\laravel\framework\src\Illuminate\Support\Traits\ForwardsCalls.php",

I have used the trait on the model
class Region extends Model
{
    use Searchable;

    public function country(){
        return $this->belongsTo(Country::class);
    }
}

public f

[2019-09-27 10:22] driesvints commented on #389
@agariaw I'm gonna keep this closed unless something's broken with the Algolia driver, sorry. But definitely feel free to send in a PR if you think there could be an improvement somewhere.

[2019-09-27 10:23] driesvints commented on #390
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2019-09-27 10:23] #390 closed

[2019-10-01 21:15] borealsmith commented on #175
Hi,

I run into this after upgrading to Laravel 6

I tried with bout SCOUT_QUEUE=true/false

my deployment script run the following artisan commands
php artisan cache:clear
php artisan config:clear
php artisan view:clear
php artisan route:clear
php artisan horizon:terminate
php artisan queue:restart
php artisan scout:import

but my index is empty (it use to have records)

if i run php artisan scou

[2019-10-01 21:24] borealsmith commented on #175
... upon running the php artisan:scout import in the terminal in my index log I get only this
/1/indexes/beta_ads/clear

[2019-10-03 23:15] borealsmith commented on #175
please ignore my previous comments. due to a miss configuration I was pointing to an empty database. Everything is working perfectly. Thanks

[2019-10-10 15:43] #344 closed

[2019-10-12 13:12] argb opened #391 "there is bug in the conf file of scout"
- Scout Version: #.#.#
- Laravel Version: #.#.#
- PHP Version: #.#.#
- Database Driver & Version:

### Description:
 public function syncWithSearchUsingQueue()
    {
        return config('scout.queue.queue');
    }

It's wird, in conf file, scout.queue is not an array.
If it's an array in the .env file, the setting  SCOUT_QUEUE would be meaningless.

How can I set SCOUT_QUEUE to be an array in .e

[2019-10-14 12:10] driesvints commented on #391
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2019-10-14 12:10] #391 closed

[2019-11-04 05:28] jubaedprince commented on #179
@DMeganoski I am facing the same issue. Can you help me solve this issue please? ``
   BadMethodCallException  : Call to undefined method Illuminate\Database\Eloquent\Builder::searchable()

  at /home/jubaedprince/Codes/alfred-v2/vendor/laravel/framework/src/Illuminate/Support/Traits/ForwardsCalls.php:50
    46|      * @throws \BadMethodCallException
    47|      */
    48|     protected static fu

[2019-11-04 05:40] jubaedprince commented on #179
Thanks! This solved my issue, needed to put `parent::boot()` in the `__consruct()` method

[2019-11-26 19:50] FredericBruening commented on #175
Hi,

I'm having this problem:

Windows Server 2012 R2 Standard / IIS 8 / SQL Server 2017 Express / PHP 7.2.19

I run php artisan scout:import "App\Wawi\Product"

 [OK] All [App\Wawi\Product] records have been flushed.

Imported [App\Wawi\Product] models up to ID: App\Wawi\Product::1531
Imported [App\Wawi\Product] models up to ID: App\Wawi\Product::29700
Imported [App\Wawi\Product] models up to ID:

[2019-12-19 06:48] DmitryShmanko commented on #300
you've saved me my brain :D

[2019-12-30 12:50] MartinMorlog commented on #284
This worked for Algolia, for search using MySql got it to work like:

[code]

[2020-01-04 15:13] iamgergo commented on #184
Hi, @driesvints,

I took a look at this issue while using Scout, but for me, it was working well.

Then I found this PR https://github.com/laravel/scout/pull/372, which solved this bug.
Versions bigger than 7.1.2 should work well.

[2020-01-04 15:17] nunomaduro commented on #184
Thanks for clarifying this issue @iamgergo.

[2020-01-04 15:17] #184 closed

[2020-01-06 21:15] tanthammar opened #396 "orderBy() Json column only sorts per paginated page"
- Scout Version: 7.2.1
- Laravel Version: 6.9.0
- PHP Version: 7.3.11
- Database Driver & Version: "teamtnt/laravel-scout-tntsearch-driver": "^7.2"
MySQL 5.7.24

### Description:
Using orderBy() on a Json column with paginate() gives a strange result.
Looks like it is sorting per paginated page and not across the entire search result.

### Steps To Reproduce:
[code]
Name column example:
[code]

[2020-01-07 11:51] driesvints commented on #396
Unfortunately we don't support the tntsearch driver, sorry.

[2020-01-07 11:51] #396 closed

[2020-01-07 20:29] rodrigopedra commented on #396
Hi @tanthammar , there is some time I last worked with scout, but from memory I think the `->search()` method will return a Scout Builder instance, which have a `->orderBy()` method that will be applied after searching.

If you need to apply any bindings to the underlying database query Builder instance you should call the `->query()` method and pass a callback that will be applied before executin

[2020-01-09 06:21] jasonlfunk commented on #331
This bit me today. I'm using the TNTSearch driver and have a very large search index. Even though I have a dedicated scout queue, this method is being run in sync has causing 4-5s delays in my code. This really ought to be given a higher priority.

[2020-01-09 11:49] driesvints commented on #331
Anyone's free to send in a pr for this enhancement.

[2020-01-09 20:41] matt-allan commented on #331
I have this working [on a branch](https://github.com/matt-allan/scout/tree/queue-deletes) but it's a bit of a hack.

It only works if the scout driver only accesses `$model->getScoutKey`; any other attributes will be null. This works fine with the Algolia driver. The Elasticsearch driver I'm personally using accesses other model attributes to determine the document type so it wouldn't work.

Given

[2020-01-10 11:23] driesvints commented on #331
@matt-allan I think it's fair to pursue a solution for only the Algolia driver since that's the only one we're supporting natively in the library atm. But if there would be a generic solution to this we can definitely improve it further later on so other third party libraries can benefit as well.

[2020-01-16 23:33] Jafo232 commented on #175
I had this issue too and couldn't figure it out until I saw that I never set

`SCOUT_DRIVER=algolia`

In my .env file (and then ran php artisan config:clear)

[2020-02-12 07:52] matchish opened #397 "Query object instead of term"
What if instead of a term we can pass a `QueryObject`?
Then we can change how we build query on the fly. I mean often we need to tune a query for a
 specific query but not for all application. The same with results mapping.

How it can be
https://github.com/matchish/laravel-scout-elasticsearch/issues/88#issuecomment-585074403

[2020-02-12 12:13] driesvints commented on #397
Can you please explain in more detail, preferable with some code examples?

[2020-02-13 04:55] matchish commented on #397
I'll do it later. I have a simpler solution now

[2020-02-13 04:55] #397 closed

[2020-02-18 07:31] VictorPullzz opened #398 "Dont work whereNotNull"
- Scout Version: 6.1.*
- Laravel Version: 5.5.*
- PHP Version: >=7.1.0
- Database Driver & Version: MySql 5.7

### Description:
This method does not work. But even when I do it through the usual Builder method where ('...', '! =', Null) / where ('...', '<>', null), an empty collection is returned to me, although it cannot to be!

### Steps To Reproduce:
1 - Create any model let's say Post | id | u

[2020-02-18 09:35] driesvints commented on #398
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? We'll help you out and re-open this issue if so.

Thanks!

[2020-02-18 09:35] #398 closed

[2020-02-18 12:24] VictorPullzz commented on #398
Thank you for answer, unfortunately I can’t update the version on the project, this will lead to many problems..

[2020-02-26 08:55] shortcodes commented on #388
@jim0thy I am curious. Why i am an idiot too? Maybe some feedback for me's in future, and present?

[2020-02-26 09:28] shortcodes commented on #388
Ok. I know why i am idiot. In my Engine i had non static method `usesSoftDelete`. Nothing to do with this package. It is greaT ;)

[2020-03-02 16:15] driesvints commented on #377
@MatanYadaev are you still experiencing this?

[2020-03-02 16:15] driesvints commented on #378
Going to close this one. Please see the answer above by @diegoaurino, thanks!

[2020-03-02 16:15] #378 closed

[2020-03-03 08:36] MatanYadaev commented on #377
@driesvints No

[2020-03-03 08:36] #377 closed

[2020-03-10 20:18] raulsh commented on #201
I have the same issue too. There is a solution? I searched in source code and there is nothing abount searchableUsing() method, only calls to this method.

[2020-03-29 14:58] benlwong commented on #175
If you are using Horizon (as the queue) and your scout:import is not adding records in Algolia, try restarting Horizon first:

`php artisan horizon:terminate`

In my case, Horizon was already running when I added the Algolia API key to the .env file. When I run the scout:import command, the job was failing in Horizon with the exception:  "Algolia\AlgoliaSearch\Exceptions\BadRequestException: Not e

[2020-03-31 12:49] IlmLV commented on #371
I am also looking forward to see this implemented.
Also should consider load other classes throw container, to be able easily extend for example Builder class. If I could be able to load extended Builder class it could be much easier to override LengthAwarePaginator.

[2020-04-07 11:03] MadaniTech opened #401 "Restoring data not updating on algolia"
- Scout Version: 7.2
- Laravel Version: 6.0
- PHP Version: 7.3
- Database Driver & Version: mariadb 10

### Description:
All is working well on creating updating and deleting record. But on restore it does not update on algoia search.

### Steps To Reproduce:
My code is
[code]

Its working on db end but not updating on algolia. What is the function on scout to restore on algolia indexing. Thanks

[2020-04-07 12:11] driesvints commented on #401
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2020-04-07 12:11] #401 closed

[2020-04-07 12:44] MadaniTech commented on #401
@driesvints thanks.

[2020-05-05 01:06] altynbek07 commented on #329
But it is not work when queue is true.

[2020-05-07 08:35] beaumind opened #403 "add custom macro"
- Scout Version: 8.0.1
- Laravel Version: 7.8
- PHP Version: 7.4.5

### Description:
I've added new custom macro like this:
      `Builder::macro('searchNested', function (array $nested) {
                $this->nested = $nested;
                return $this;
            `}`
        );`

but in the custom scout engine when I'm trying to access this property `$builder->nested` I'm getting this erro

[2020-05-07 08:44] driesvints commented on #403
You're trying to access a property that doesn't exists. The macros are meant to add behavior but you can't add properties through them.

[2020-05-07 08:44] #403 closed

[2020-05-07 08:49] beaumind commented on #403
@driesvints how can I add these kind of functionalities to builder? any suggestion?

[2020-05-15 10:34] superpromiser72 commented on #339
Fucking

[2020-05-26 12:48] altynbek07 commented on #262
My solution:
#### Disable Algolia:
in `.env` file:
[code]
in `scout.php` file:
[code]
---
#### Enable Algolia:
in `.env` file:
[code]

[2020-06-22 14:34] driesvints commented on #329
Closing this since the PR was rejected. We probably won't be pursuing this any further.

[2020-06-22 14:34] #329 closed

[2020-06-29 11:33] PaddyLock opened #408 "No such file or directory on scout:import"
- Scout Version: v8.0.0
- Laravel Version: v7.4.0
- PHP Version: 7.3.8
- Database Driver & Version: MySQL 5.7.26

### Description:

When I run `php artisan scout:import "App\Product"` I get the following error;

`
   Illuminate\Database\QueryException

  SQLSTATE[HY000] [2002] No such file or directory (SQL: select * from `Product` order by `id` asc limit 500)

  at vendor/laravel/framework/src/Il

[2020-06-29 12:14] driesvints commented on #408
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2020-07-13 17:28] sunnythewebdeveloper opened #410 "Unable to install Scout on Laravel 5.8"
I am unable to install Scout on Laravel 5.8 due to requirements not being resolved to an installable set of packages.
Any suggestions ?

`sudo composer require laravel/scout
Do not run Composer as root/super user! See https://getcomposer.org/root for details
Using version ^8.0 for laravel/scout
./composer.json has been updated
Loading composer repositories with package information
Updating depende

[2020-07-13 20:39] driesvints commented on #410
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? We'll help you out and re-open this issue if so.

Thanks!

[2020-07-13 20:39] #410 closed

[2020-07-29 22:19] chamby commented on #331
@matt-allan I just wanted to ping you about your branch. I think you should submit a PR for the Algolia support. It seems like you have enough buy-in.

[2020-07-30 15:40] matt-allan commented on #331
Thanks @chamby and @driesvints, I'll see if I can make some time to get the PR ready next week.

[2020-07-30 18:50] driesvints commented on #362
On second review, there's probably enough tests for the core functionality.

[2020-07-30 18:50] #362 closed

[2020-07-30 18:59] driesvints commented on #346
I've been looking into this but I personally think that just running `scout:flush` and `scout:import` after each other already mimics this behavior. So I don't think it makes sense to add a dedicated method that checks each record's state separately.

If you want you can always attempt a PR. Thanks

[2020-07-30 18:59] #346 closed

[2020-07-30 19:01] driesvints commented on #371
Since only two people have requested this in the last year I'm going to close this one. But we're open to prs if anyone wants to see this in Scout.

[2020-07-30 19:01] #371 closed

[2020-07-30 19:27] driesvints commented on #379
Since only one person has requested this and doesn't needs it anymore I'm gonna close this. Welcoming prs however.

[2020-07-30 19:27] #379 closed

[2020-07-30 19:48] driesvints commented on #385
I've sent in a PR for this here: https://github.com/laravel/scout/pull/411

Thanks for the initial code @tillkruss.

[2020-07-31 13:40] #385 closed

[2020-07-31 16:27] lucasmichot commented on #346
Hm flushing the index, and then importing would not work - as some import can last for a very long time.
This would lead to incomplete search results for the people using the search service; such a user experience would not be acceptable.

I will propose a PR soon.

[2020-08-03 12:56] driesvints commented on #331
@matt-allan I've tackled the remaining issues. Feel free to send that PR for this one if you like! :)

[2020-08-06 10:49] MikeElghali opened #412 "[8.2.0] EngineManager - Undefined variable: user"
- Scout Version: 8.2.0
- Laravel Version: 7.23.0
- PHP Version: 7.4.8
- Database Driver & Version: MySQL 8.0.21

### Description:

When i try the new feature "Identifying Users" i have a php syntax error "Undefined variable: user".

<img width="1282" alt="Capture d’écran 2020-08-06 à 12 46 35" src="https://user-images.githubusercontent.com/2301050/89523304-edc65400-d7e2-11ea-93fa-058d87ae3ee0.pn

[2020-08-06 11:10] driesvints commented on #412
Urgh, fixing.

[2020-08-06 11:13] driesvints commented on #412
Fixed. Thanks!

[2020-08-06 11:14] #412 closed

[2020-08-13 07:29] sunnythewebdeveloper commented on #410
Hi,

Thanks for reply

[2020-08-25 01:14] ebrigham1 opened #414 "The searchable scope does not work with the hasManyThrough relation"
- Scout Version: 8.2.1
- Laravel Version: 7.25.0
- PHP Version: 7.4.9
- Database Driver & Version: 8.0.21

### Description:
The laravel scout [searchable/unsearchable scopes](https://github.com/laravel/scout/blob/060bd8f57cb6ee377af7d352e23967d1ebd162b1/src/SearchableScope.php#L33-L48) does not work with the `hasManyThrough` relation. This is because `hasManyThrough` requires special handling for

[2020-08-27 13:28] driesvints commented on #414
@ebrigham1 can you maybe whip up a test repo for me to reproduce this? I'll try to debug from there and see if I can fix this. Please commit your custom changes separately from the base skeleton.

[2020-08-29 19:33] ebrigham1 commented on #414
@driesvints thanks for looking into this, I appreciate it. I've created a repository with a [pull request](https://github.com/ebrigham1/scout_bug/pull/1) with all changes on top of the base laravel + scout skeleton code.

I used laradock + elasticsearch to get a quick working example, but if you aren't using laradock and elasticsearch to reproduce you can probably look exclusivly at this [commit](

[2020-08-31 17:47] driesvints commented on #414
I've sent in a PR for this: https://github.com/laravel/scout/pull/416

Thanks for reporting this 👍

[2020-08-31 17:59] ebrigham1 commented on #414
That looks like it should work to me, thanks @driesvints!

[2020-08-31 19:43] #414 closed

[2020-09-11 08:42] chatchaisi opened #418 "Will have ElasticSearch driver?"
Do you have a plan to add new driver elastic search ?

thank you

[2020-09-11 08:48] driesvints commented on #418
https://github.com/matchish/laravel-scout-elasticsearch

[2020-09-11 08:48] #418 closed

[2020-09-12 18:45] grcasanova opened #419 "Import command failing to find model"
- Scout Version: 9.0
- Laravel Version: ^7.0 (7.21)
- PHP Version: 7.4
- Database Driver & Version:

When running the _import_ command from the scheduler

`$schedule->command('scout:import App\\Models\\Post')->hourly()->withoutOverlapping();`

I get

`model AppModelsPost not found`

[2020-09-13 18:00] driesvints commented on #419
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2020-09-13 18:00] #419 closed

[2020-09-28 11:52] fernandocoronatomf commented on #331
Hey guys, any idea about when this will be released?
I think this definitely should run in a queue when the scout driver is set to true.

[2020-09-28 12:28] driesvints commented on #331
@fernandocoronatomf please don't post "when will this be released" comments. Those aren't helpful. Instead, feel free to help out by sending in a PR.

[2020-10-12 14:02] WimWidgets opened #420 "Builder callback type"
- Scout Version: 8.3.1
- Laravel Version: 7.28.3
- PHP Version: 7.4.9

### Description:

The `$callback` property of the `Laravel\Scout\Builder` is defined as a string.
[code]

In the constructor the `$callback` parameter is defined as either a closure or `null`, although the docblock does not reflect the possible `null` value.
[code]

### Proposal:

Change the type hint for the `$callback` proper

[2020-10-13 13:44] #420 closed

[2020-10-21 13:32] madfortech commented on #94
I'start learning laravel
Welcome.blade.php  -------------code
`@extends('layout.main')
@section('content')
<p class="h1">Himanshu Nishad</p>
@if(session('successMsg'))

<div class="alert alert-success" role="alert">
  {{session('successMsg')}}
</div>

@endif

<div class="container">
<table class="table">
  <thead class="black white-text">
    <tr>
      <th scope="col">#</th>
      <th scope="col"

[2020-10-22 11:38] Sladewill opened #423 "Scout Import Descending"
On the import command there doesn't appear to be an option to order the results:

https://github.com/laravel/scout/blob/8.x/src/Console/ImportCommand.php
https://github.com/laravel/scout/blob/8.x/src/Searchable.php#L119

For certain search engines the document ids match exactly the model id, in these instances the more recent data is more relevant to import to give a smoother transition. Would it

[2020-10-22 12:29] driesvints commented on #423
Feel free to send in a PR 👍

[2020-10-22 12:29] #423 closed

[2020-11-05 13:02] usrNotFound commented on #389
I am having this problem with algolia search as well.

  Model::search('query)
                ->query(fn (Builder $builder) => $builder->whereHas('model, fn($query) => $query->where('id' , $id)
                ->paginate(25))

would mess up pagination total. It seems like pagination is completely ignoring the query part

[2020-11-06 21:01] leonardonadin opened #426 "Undefined class constant 'VERSION'"
- Scout Version: 2.2.0
- Laravel Version: v7.29.3
- PHP Version: 7.3.18
- Database Driver & Version: MySQL 8.0.16

- guzzlehttp/guzzle: 7.2.0

### Description:
Error:
Undefined class constant 'VERSION'
/vendor/algolia/algoliasearch-client-php/src/Support/UserAgent.php in Algolia\AlgoliaSearch\Support\UserAgent::getDefaultSegments at line 50

https://github.com/guzzle/guzzle/blob/master/UPGRADING.m

[2020-11-07 10:14] driesvints commented on #426
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? We'll help you out and re-open this issue if so.

Thanks!

[2020-11-07 10:14] #426 closed

[2020-11-09 09:47] MatanYadaev opened #427 "Connection timeout issues since upgrade from 8.0 to 8.4"
- Scout Version: 8.4.0
- Laravel Version: 8.13.0
- PHP Version: 7.4.11
- Database Driver & Version: MySQL 5.7, Redis 6

### Description:
Since I've upgraded from Laravel 7 to 8 and from Scout 8.0 to 8.4 I began to have timeout issues when indexing entries in the queue (using `MakeSearchable`).
It happens both on local and on staging. (didn't deploy to production because of this issue)

The issues

[2020-11-09 10:13] driesvints commented on #427
Since this is the only report we got so far for this and the project is widely used I think it's better that you try a support channel first. If you can verify that this is a bug in Scout itself feel free to report back.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Disco

[2020-11-09 10:13] #427 closed

[2020-11-29 08:47] khizaransari opened #428 "I have a Query like"

[2020-11-29 08:48] khizaransari opened #429 "I have a Query like Site::query()->with('user', 'domain.hostNode');"

[2020-11-29 08:51] khizaransari opened #430 "I have a Query like Site::query()->with('user', 'domain.hostNode'); i want to use orderBy in user.first_name but it wont work in nested relation ship , it wont work in whereHas . i dont want to use sortBy. How can i acheve this"

[2020-11-29 11:09] nunomaduro commented on #430
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2020-11-29 11:09] #430 closed

[2020-11-29 11:09] nunomaduro commented on #429
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2020-11-29 11:09] #429 closed

[2020-11-29 11:09] nunomaduro commented on #428
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2020-11-29 11:09] #428 closed

[2020-12-02 19:32] simonproud opened #431 "not support php8. in laravel has, but in scout no"

[2020-12-02 20:10] freekmurze commented on #431
Probably PHP 8 support isn't here yet because the underlying Algolia dependency doesn't have PHP 8 support.

We need to have a little more patient. Pretty share that, when Algolia adds PHP 8 support for this package, Scout will soon have a PHP 8 compatible release 👍

[2020-12-03 11:02] driesvints commented on #431
Please see https://github.com/laravel/scout/pull/425

[2020-12-03 11:02] #431 closed

[2020-12-09 20:03] goddas opened #433 "Cannot call any model method from toSearchableArray()"
- Scout Version: 8.4
- Laravel Version: 8.12.3
- PHP Version: 7.4
- Database Driver & Version: mariaDB

### Description:
[code]
Calling artisan scout:reimport/import, the job will fail with `App\Page::excerpt must return a relationship instance.`
I'm using queues (db driver). Why can't I call any model methods here?

[2020-12-10 04:46] xcalder opened #434 "php8 support"
Please add php8 support.

[2020-12-10 09:40] driesvints commented on #434
https://github.com/laravel/scout/pull/425

[2020-12-10 09:40] #434 closed

[2020-12-10 09:41] driesvints commented on #433
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2020-12-10 09:41] #433 closed

[2020-12-14 18:43] francoism90 opened #435 "Undefined property: Laravel\Scout\Builder::$engine when using macro example"
- Scout Version: 8.5.0
- Laravel Version: 8.12
- PHP Version: 7.4.13
- Database Driver & Version: MariaDB

### Description:

https://laravel.com/docs/8.x/scout#builder-macros

### Steps To Reproduce:

[code]

Registed in `app.php`:
```[2020-12-14 18:40:15] local.ERROR: Undefined property: Laravel\Scout\Builder::$engine {"userId":1,"exception":"[object] (ErrorException(code: 0): Undefined property:

[2020-12-14 19:11] driesvints commented on #435
There's a typo. The `$this->engine->getTotalCount(` needs to be `$this->engine()->getTotalCount(`. I'll fix this, thanks.

[2020-12-14 19:11] #435 closed

[2020-12-16 16:09] Demers94 commented on #427
@MatanYadaev Did you find a solution for this?

I recently upgraded an app from Laravel 5.8 to Laravel 8 and I started having this problem. It only happens when I'm running the app in Docker (using Laravel Sail)

[2020-12-16 16:36] Demers94 commented on #427
@MatanYadaev Did you manage to fix this?

I recently upgraded a project from Laravel 5.8 to Laravel 8 and I started having this issue.

It only happens when I'm running the app in Docker (using Laravel Sail)

[2020-12-16 16:38] MatanYadaev commented on #427
@Demers94 No, I still have it. Both for local environments (non-Docker) and production.

[2020-12-23 14:08] chloelbn commented on #427
Hi @driesvints, we're having several report of customers experiencing this issue since the last few days (ie https://discourse.algolia.com/t/laravel-timeout-reimport/11651). Did you find anything on your side that would explain the timeout?

[2020-12-24 12:05] mnightingale opened #437 "Model events not called in tests that are wrapped in a transaction"
- Scout Version: 8.5.1
- Laravel Version: 8.20.1
- PHP Version: 7.4.13
- Database Driver & Version: MySQL 5.7.32

### Description:
From my testing and investigation #436 seems to have broken tests when using the RefreshDatabase or DatabaseTransactions traits.
I think it's because they both operate the test within a transaction so the Scout events are never fired.
If it matters during my tests I us

[2020-12-28 12:16] driesvints commented on #437
I'm confirming with @themsaid what the best course of action here would be.

[2020-12-28 12:21] themsaid commented on #437
As indicated in the issue, it's a side effect of https://github.com/laravel/scout/pull/436. I can't think of a way to stop counting tests transactions so that the code runs as expected. The only think I can think of is that you don't use the `DatabaseTransactions` trait if you have `$afterCommit=true`

[2020-12-28 14:27] driesvints commented on #427
We really need a way to reproduce it before we can check in on this.

[2020-12-28 15:19] driesvints commented on #437
I've sent in a PR to revert this: https://github.com/laravel/scout/pull/438

[2020-12-28 22:17] adamthehutt commented on #437
@driesvints Is there any way this could be configurable? That way when running tests we could set afterCommit to false but keep it as true under normal circumstances. There would still be BC implications so it would probably still need to wait for v9, but something to think about.

I don't know about about observer invocation to know what the best implementation would be. But maybe it's as simple

[2020-12-28 23:48] sal1ner0 commented on #427
@driesvints it happens almost always when i run scout:reimport directly on terminal or through laravel scheduler.
The problem increases because most of the time it deletes the index and we run out of articles...

[2020-12-29 05:00] bakerkretzmar commented on #437
Personally I think this behaviour is correct, if a bit annoying. Scout shouldn't sync model data to a search index until that data has been persisted into the database.

This might require some adjustments to tests, but that's a much smaller issue than the original bug itself, which breaks real app code.

[2020-12-29 09:34] driesvints commented on #437
I closed my PR because it technically doesn't breaks real app code.

@adamthehutt a config option seems overkill. The current behavior definitely should be the default. But we need to find a way to let people still run their database migrations while using scout.

[2020-12-29 10:38] driesvints commented on #427
when i run `scout:reimport`

There's no such command in Scout. You're probably talking about https://github.com/algolia/scout-extended/blob/master/src/Console/Commands/ReImportCommand.php ?

If that's the case please open up an issue on the scout extended repository. If you can't reproduce it with just Scout itself then we can't really help out here.

[2020-12-29 20:32] markomilivojevic commented on #58
Another solution is to remove `query` from query string by calling `->appends('query', null)` on your `->paginate()` method.

[2020-12-31 06:54] kossa commented on #427
I have the same problem on the server but works fine on local with the same version

I guess problem with server config

[2021-01-02 21:20] #437 closed

[2021-01-17 17:24] chrisgrim opened #444 "unsearchable() not removing model from index"
Software | Version
-- | --
PHP | 7.4.7
Elasticsearch | 7.3.2
Laravel | 8.15.0
Laravel Scout | 8.5.0
Mysql | 8.0.22

### Description:
unsearchable() does not remove model from index

### Steps To Reproduce:
In my event when an event is published I change the status to 'p', In my event model I have
[code]
This works great but now I am running into an issue. After an event has been published if I go

[2021-01-18 10:47] driesvints commented on #444
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2021-01-18 10:47] #444 closed

[2021-01-18 18:13] sal1ner0 commented on #427
OK thanks @driesvints , i just opened a new issue there...
[](https://github.com/algolia/scout-extended/issues/263)
Hope they can help me..

[2021-01-21 10:29] uyson opened #445 "There is no need to delete data on creating"
I think where not need to delete from es on creating,  because there no data to delete .
https://github.com/laravel/scout/blob/54070f7b68fed15f25e61e68884c4110496b8aa1/src/ModelObserver.php#L82

[2021-01-21 10:31] #445 closed

[2021-01-21 10:32] driesvints commented on #445
This method is for both creating and updating.

[2021-01-21 10:32] driesvints commented on #445
Also: please try asking these questions on a support channel first and not use the issue tracker for this. Thanks

[2021-01-21 10:34] uyson commented on #445
yes, it's fire on deleting and updating, but search engine not data to delete. why we send to delete action to search engine?

[2021-01-21 10:36] uyson commented on #445
thanks to reply

[2021-01-21 10:46] driesvints commented on #445
Feel free to attempt a PR if you want to change anything here 👍

[2021-01-21 10:53] driesvints commented on #331
@uyson please send in a PR if you want this to move forward.

[2021-01-22 04:42] uyson commented on #331
yes, I tring to do . but I need to learn phpunit, and mockry to write a test

[2021-01-22 16:11] uyson commented on #331
我看了代码， 原来的基础场不好改， 搜两年了我很郁闷官方也没有修改的想法？

[2021-01-31 17:32] jrgns opened #447 "scout:import will fail when chunkById is called with a `Ambiguous column` error if you join another table"
Steps to replicate:

1. Have a model with more than 500 records and uses `id` as it's primary key.
2. In your `makeAllSearchableUsing` function in the model join on another table that also has an `id` field.
3. Run `scout:import`

This will result in `SQLSTATE[42702]: Ambiguous column: 7 ERROR:  column reference \"id\" is ambiguous` after the first batch has been processed.

This can be fixed by s

[2021-02-01 09:06] driesvints commented on #447
Please re-open this with a filled out issue template.

[2021-02-01 09:06] #447 closed

[2021-02-04 21:05] mfullbrook commented on #427
[This is the issue](https://github.com/algolia/scout-extended/issues/263) created by @sal1ner0 over on algolia/scout-extended where there is a helpful discussion as well as Algolia's diagnostic script.

We had the same symptons today.   After contacting Algolia support they confirmed there was an issue with the search cluster our indexes were on.

[2021-02-07 09:33] jrgns opened #448 "scout:import will fail when chunkById is called with a `Ambiguous column` error if you join another table"
- Scout Version: 8.6.0
- Laravel Version:7.3.40
- PHP Version: 7.4.11
- Database Driver & Version: Postgres 9.5

### Description:

scout:import will fail with an `Ambiguous column` error when if your import query contains more than one table (by using a join). It fails only *after* the first batch has been processed, so when chunkById is called.

The following error is raised:

[code]

### Steps T

[2021-02-07 09:33] jrgns commented on #447
See ##448

[2021-02-08 09:39] driesvints commented on #448
Can you maybe whip up a quick app for us to reproduce the problem? Please make a second commit with your custom changes apart from the app skeleton.

[2021-02-11 13:37] driesvints commented on #448
Closing this issue because it's inactive, already solved, old or not relevant anymore. Feel free to reply if you're still experiencing this issue and we'll re-open this issue.

[2021-02-11 13:37] #448 closed

[2021-02-17 01:58] louisjeck commented on #427
Same issue here, using
`"laravel/scout": "8.6.0"`, `"algolia/scout-extended": "1.13.0"`, `"laravel/framework": "8.27.0"`. I'm getting random timeout issues, even on searching, not only indexing. I've notice that once it timed out, it becomes responsive again for a few seconds to a minute. Using Laravel Sail aswell. I'm noticing the same issue with order external APIs, first search is always really

[2021-02-26 00:18] bkilshaw opened #450 "Pagination with subquery broken"
- Scout Version: 8.6.0
- Laravel Version: 8.29.0
- PHP Version: 7.4.15
- Database Driver & Version: Meilesearch 0.19.0

### Description:

The paginator breaks when you append an additional query on the results.

### Steps To Reproduce:

Create 10 users all with the name "John". Give five of them with a location_id of 1 and the other five a location_id of 2.

[code]

[code]

What appears to be happ

[2021-02-26 09:10] driesvints commented on #450
Does it also break if you use the Algolia driver?

[2021-02-26 22:34] bkilshaw commented on #450
Yes, just tested it with the Algolia driver and I'm running into the same issue.

[2021-03-01 14:49] driesvints commented on #450
@bkilshaw ok thanks for confirming that. Can you create a repo for me that reproduces the issue? Please commit any custom code separately from the base skeleton.

[2021-03-08 10:11] driesvints commented on #450
Closing this issue because it's inactive, already solved, old or not relevant anymore. Feel free to reply if you're still experiencing this issue and we'll re-open this issue.

[2021-03-10 07:10] nafeeur10 opened #452 "How to restrict objectID from Algolia Search index?"
https://ibb.co/KF5tznt

Here, `objectID` is showing Full Path of my Model in Algolia Server. But I don't want to show this. How will I hide this?

[2021-03-10 09:11] driesvints commented on #452
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2021-03-10 09:11] #452 closed

[2021-03-28 18:21] jadamec commented on #427
I've same issue...

[2021-03-28 18:21] jadamec commented on #427
Absolutely the same...

[2021-03-31 09:43] curquiza opened #454 "Integrate MeiliSearch, an open-source search engine"
Hello there! 👋

Thanks for this awesome tool!

I work for [MeiliSearch](https://github.com/meilisearch/MeiliSearch), we are building an open-source and easy-to-use search engine. We provide (thanks to @shokme who is one of our best contributors) a Laravel Scout extension for MeiliSearch. This integration is currently our most used integration: most of our users enjoy the MeiliSearch experience wit

[2021-03-31 12:49] taylorotwell commented on #454
Hello! Can you PR it to see how much code it would be? We don't want to take on any extra maintenance burden so we would need some commitment that MeiliSearch will be able to maintain this even if it is integrated into Scout by making all future maintenance PRs, etc.

[2021-03-31 16:51] mmachatschek commented on #454
@taylorotwell
I can't speak for the MeiliSearch-Team but offering an out-of-the-box implementation for an engine that at least works mostly like algolia (and is open source) would be very beneficial.

On the maintenance side I would definitly be open for help, either with PRs and upcoming issues. (I'm already helping on the MeiliSearch repo)

The team around MeiliSearch and espacially @curquiza ar

[2021-03-31 17:34] curquiza commented on #454
Thanks @mmachatschek for having opened the PR #455!!

@taylorotwell, thank you for your quick answer! Yes, of course, the integration team of MeiliSearch will be available to maintain and answer questions of the users!
You can ping me when needed, I watch this repo for "participating and mention" and I regularly check my GitHub notification! You can count on the MeiliSearch team to be available!

[2021-03-31 18:50] #454 closed

[2021-03-31 18:50] taylorotwell commented on #454
Thanks for the responses. Will continue discussion as needed on the PR.

[2021-04-08 18:40] ybert opened #462 "Performance issue with relations and queue"
- Scout Version: 8.6.1
- Laravel Version: 6.20.8
- PHP Version: 7.3
- Database Driver & Version: Algolia

### Description:

I have a Book model with categories and author relations.
In Book model  I have :
[code]
I import data massively with php artisan scout:import . I have 20 millions of records.
I use a chunk of 500. In my mind, it should do 3 sql queries per 500 records in queue. One each for

[2021-04-08 19:52] mmachatschek commented on #462
This is actually a problem of the ´SerializesModels´ trait that is not able to restore the relations of a Eloquent Collection.

I already PR'd this here https://github.com/laravel/framework/pull/36712 but unfortunatly this was closed.

Maybe this is a good usecase to fix the issue with that trait with this example.

[2021-04-08 20:17] driesvints commented on #462
It's not wanted to load all of those relationships again after deserializing. That can cause some serious overload issues when you're handling lots and lots of relationships.

Instead, rethink your DB model and work towards something that doesn't requires you to load all of those relationships into memory.

[2021-04-08 20:17] #462 closed

[2021-04-08 20:24] ybert commented on #462
@driesvints So, what the makeAllSearchableUsing function is for ?

I think it is made for that. If I don't want relations to be loaded, I just don't overwrite this function.

[2021-04-08 21:41] jonnywilliamson commented on #450
Hi Dries! I took on that challenge! I was having the same (almost) issue, so I created a repo for you to see what we're talking about.

### Setup
**Repo to clone:**
https://github.com/jonnywilliamson/scoutbug

This is a brand new Laravel 8 app, with only `laravel scout` and `algolia/algoliasearch-client-php` added. Nothing else.

**`.env` file**
Only thing added was database name AND algolia crede

[2021-04-08 21:42] jonnywilliamson commented on #450
@driesvints Apologies. I honestly don't know if I reply to a closed thread does it even appear in your notifications. I didn't want to type that all out and then you never see it. If this @ sends you a second one I'm very sorry!

[2021-04-09 12:39] driesvints commented on #450
Investigating this.

[2021-04-09 13:38] driesvints commented on #450
So, this cannot ever work because the additional complexity of scopes cannot be translated into a way a search index understands. You see, "where" clauses that are added directly to the search builder are translated to the engine underneath:

[code]

This works because the engine supports it. But the following doesn't because the "builder" instance on the callback is a database query builder and n

[2021-04-09 13:38] #450 closed

[2021-04-09 22:39] jonnywilliamson commented on #450
Hi Dries,

Thanks for taking the time to investigate and provide a detailed response and explanation.

![](https://i.kym-cdn.com/photos/images/original/000/918/126/241.gif)

Just kidding! I'll have to rethink my strategy on search!

[2021-04-10 08:25] jonnywilliamson commented on #450
In the extreme chance anyone is following along and wants to know a possible way around this, the following is what is working for me now and I'm happy with it.

Basically I use a NORMAL eloquent builder so I have access to all the power of scopes etc that I want to use. Then I use a whereIn and only match it to the ID's returned from the search (using the keys method).

It's probably a little mor

[2021-04-10 14:45] driesvints commented on #450
@jonnywilliamson that's definitely an interesting solution and I think that'll work out nicely for your use case. But indeed it's a little bit more expensive as you're loading in all the keys the engine can find first and then performing the pagination on the Eloquent query side. You'll lose the performance benefit of doing the pagination on the engine side.

[2021-04-10 14:52] bkilshaw commented on #450
This is the same solution I came up with originally. However; I use Postgres as my database and did some experimenting and was able to build a significantly faster search directly in Postgres so I went that route.

One thing to be careful of is the number of records you match in your search results. I’m not sure how many records you’re working with, or what database you’re using, but there is a ma

[2021-04-16 15:08] madhavanswami opened #467 "How to deploy and use laravel-scout and Meilisearch to ec2 instance"
I am new to laravel and meilisearch. I know how to deploy meilisearch alone on ec2 but now i want to use laravel with meilisearch.
i am not able to understand how to get the usecase running. Someone please help me.
Thanks

[2021-04-16 15:17] driesvints commented on #467
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2021-04-16 15:17] #467 closed

[2021-04-27 09:12] ybert commented on #462
So actually, it is impossible to use scout if we want to import data from one relation as it will do one db query for each row.
Is it really as it should work ?

So a schema with simple Product/Category or Book/Author is unusable with scout ?

@mmachatschek @driesvints Am I right ?
@taylorotwell What do you think ?

[2021-04-27 18:25] driesvints commented on #450
Good news all. This will be solved in today's 9.0 release: https://github.com/laravel/scout/pull/469

[2021-04-27 22:58] jonnywilliamson commented on #450
Ah thanks very much for the heads up Dries and thank you @crynobone for the work you did on this!

[2021-05-11 13:00] #331 closed

[2021-05-11 13:10] driesvints commented on #331
This will finally land in today's Scout release thanks to @stevebauman 👏

[2021-05-12 11:06] FrittenKeeZ opened #473 "FR: Add scout:queue command to import using queue"
To speed up batch import for systems using queues, it would be nice to have a `scout:queue` command working similarly to `scout:import`, with the only difference being utilizing queues instead of direct import (`$collection->searchable()`).

[2021-05-13 08:08] driesvints commented on #473
There's already a way to increase the amount of chunks used when importing by updating the `scout.chunks.searchable` value in the config file: https://github.com/laravel/scout/blob/9.x/config/scout.php#L71

I'm not sure queueing is a good idea to utilise queues here as I'm a bit afraid of async imports and duplicates happening.

[2021-05-13 08:08] #473 closed

[2021-05-14 14:26] FrittenKeeZ commented on #473
@driesvints the problem arises when you can't increase the chunk size due to memory exhausting, combined with millions of records, requires you to have the import command running for hours, hoping that it doesn't die along the way.
We recently switched from Solr to ElasticSearch, going from 1 worker (forced due to duplicates and an old Solr version) to 4 workers, and we haven't hit any glitches du

[2021-05-14 14:28] driesvints commented on #473
Hey @FrittenKeeZ. Definitely understand that. If you could maybe create a PoC as a PR then Taylor could review it. If he doesn't wants to maintain and merge it you can always still release it as a package maybe?

[2021-05-25 13:45] micos7 commented on #175
In case you are using elastic search, check the error log - I had:

`high disk watermark [90%] exceeded on [minbqqKpRV-umA0DPxkuww][mihai-MS-7A72][/var/lib/elasticsearch/nodes/0] free: 28.9gb[6.3%], shards will be relocated away from this node; currently relocating away shards totalling [0] bytes; the node is expected to continue to exceed the high disk watermark when these relocations are complet

[2021-05-31 08:26] MatanYadaev opened #474 "Option to set `MakeSearchable`'s retries and backoff"
Every day a few exceptions are thrown in my application because of connection issues with Algolia, reported about it [here](https://github.com/laravel/scout/issues/427).
I think the option to increase the number of retries and backoff could eliminate these connection issues with Algolia, and make Scout more configurable and flexible for its users.

[2021-05-31 08:58] driesvints commented on #474
From what I read, this should be done automatically by the client so I don't think there's anything we can do in Scout?

https://www.algolia.com/doc/api-client/methods/advanced/#retry-logic

/cc @julienbourdeau

[2021-05-31 10:16] MatanYadaev commented on #474
@driesvints I'm talking about being able to add `$retries` and `$backoff` properties to `MakeSearchable` job.

[2021-06-01 09:43] WiGeeky opened #475 "Cursor Pagination in Scout"
Hello,
Since Cursor pagination has been added to the Laravel framework recently (https://github.com/laravel/framework/pull/37216), I was wondering whether this can be implemented for Scout as well?

[2021-06-01 10:02] driesvints commented on #475
Not sure if this is needed in scout? How would you use this?

[2021-06-01 10:04] crynobone commented on #475
Scout map the results using relevant based on keyword, where cursor pagination focus on attribute > lastId such as:

[code]

[2021-06-01 10:06] driesvints commented on #475
Right. Don't think this is needed in Scout.

[2021-06-01 10:06] #475 closed

[2021-06-01 12:26] driesvints commented on #474
@MatanYadaev talked this over with the team. Feel free to attempt a PR, thanks.

[2021-06-01 12:26] #474 closed

[2021-06-05 08:23] NatBLida68 opened #478 "Indirect modification of overloaded property has no effect"
i'm not sure is it right to ask  here but this is my issue

my job model  toSearchableArray is

    public function toSearchableArray()
    {
        $array = $this->searchableArray(); //common columns
        $array['id'] = 'j'.$this->id;
        $array['party_name']= isFilled($this->customer)?$this->customer->name:'';
        $array['party_code']= isFilled($this->customer)?$this->customer->id:''

[2021-06-05 08:24] driesvints commented on #478
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2021-06-05 08:24] #478 closed

[2021-06-14 10:16] edgarsn opened #481 "[9.x] Pagination total messed up with query callback while eager loading"
- Scout Version: 9.1.1
- Laravel Version: 8.42.1
- PHP Version: 8.0.5
- Database Driver & Version: MySQL 8.0.25

### Description:
After update from 8.x to 9.x, looks like #469 broke pagination total for me when using code like this:

[code]

It always returns `total` number same as `per_page` I passed as argument to paginate function.

I understand other users reported (#450 ) invalid total number

[2021-06-14 11:06] driesvints commented on #481
Heya, thanks for reporting.

I'll need more info and/or code to debug this further. Can you please create a repository with the command below, commit the code that reproduces the issue and share the repository here? Please make sure that you have the [latest version of the Laravel installer](https://github.com/laravel/installer) in order to run this command. Please also make sure you have both Git

[2021-06-14 12:23] edgarsn commented on #481
Here is a repo - https://github.com/edgarsn/laravel-scout-issue-481

`routes/web.php` contains routes and queries.
* `/broken` is the one you want (with query callback).
* `/fine` is without query callback.
* `/all` simple mysql select without scout to see all records in database.

`php artisan migrate`, `php artisan db:seed`, `php artisan scout:import App\Models\Article` to setup.

[2021-06-14 12:39] crynobone commented on #481
In your use case I would suggest skipping `query()` since you can use `load()` later on, e.g:

[code]

Even with the PR, having `$queryCallback` would mean that we need to fetch all the ids again from Scout Engine and that's not useful when you are not using where.

[2021-06-14 12:59] edgarsn commented on #481
Hmm. I forgot about `->load()` option. Tested out, it works for me.

If this issue is getting closed and code unchanged related to this, I would suggest to mention in docs to NOT eager load in query callback, but do it like @crynobone said.

[2021-06-14 13:00] driesvints commented on #481
Hey @edgarsn. Can you send in a PR to the docs maybe? Would appreciate that.

[2021-06-14 13:30] edgarsn commented on #481
Sure.
So, at the end we're only updating docs and leaving code as is, right?

[2021-06-14 13:35] driesvints commented on #481
@edgarsn @crynobone sent in a PR: https://github.com/laravel/scout/pull/483

[2021-06-14 13:38] #481 closed

[2021-06-20 11:28] mahdi-mh opened #486 "Need to config meilisearch rankingRules"
Hi I want to set rankingRules in meiliSearch engine of scout but I could not found any document , How it is possible in scout?

[2021-06-20 11:39] driesvints commented on #486
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2021-06-20 11:39] #486 closed

[2021-06-21 08:11] Tarpsvo opened #487 "Batching (mainly for MeiliSearch)"
Hi!

I propose a feature for MeiliSearch that would allow for batching of `->searchable()` and `->unsearchable()` queries.

The issue is that MeiliSearch is not equipped to handle hundreds of single item updates (they'll block the indexing queue for a long time). It's **much** faster for MeiliSearch to handle one update request with 100 items than 100 requests with one item.

So, I would like to b

[2021-06-21 08:46] driesvints commented on #487
I think in this case it's best that you send in a PR so we can look at the actual code needed to make this happen. Then we can decide if we want to merge it in. Thanks!

[2021-06-21 08:46] #487 closed

[2021-07-05 18:49] siarheipashkevich opened #494 "Question: Queue executes jobs if the SCOUT_DRIVER was set to null, is it ok?"

[2021-07-05 19:06] #494 closed

[2021-07-05 19:16] siarheipashkevich opened #495 "Queue executes jobs if the SCOUT_DRIVER was set to null"
- Scout Version: 9.2.1
- Scout Driver: MeiliSearch
- Laravel Version: 8.49.0
- PHP Version: 8.0.5
- Database Driver & Version: MySQL

### Description:

HI all.

I'm trying to integrate scout to mine project and want to disable scout for local and stage env using `SCOUT_DRIVE=null` but found that the scout still executes queue jobs.

### Steps To Reproduce:
1. set `SCOUT_DRIVE=null`
2. set `'after_

[2021-07-05 19:17] driesvints commented on #495
It's `SCOUT_DRIVER`, not `SCOUT_DRIVE`.

[2021-07-05 19:17] #495 closed

[2021-07-05 19:18] siarheipashkevich commented on #495
sorry, I made a typo in description

[2021-07-05 19:20] siarheipashkevich commented on #495
@driesvints should I open new issue with fixed typo?

[2021-07-05 19:24] driesvints commented on #495
The current behavior is expected. The queued jobs are still fired but Scout isn't indexing anything.

[2021-07-05 19:31] siarheipashkevich commented on #495
Got it, thanks

[2021-07-06 08:24] siarheipashkevich opened #496 "Add an ability to retrieve hit metadata for MeiliSearch like for Algolia for model instances"
Hi all.

What do you think about an ability for retrieving hit metadata for MeiliSearch from response like for Algolia [Retrieve hit metadata](https://www.algolia.com/doc/framework-integration/laravel/searching/server-side-search/?client=php#retrieve-hit-metadata)?

It is needed for retrieving the result of the search from MeiliSearch as [Attributes to highlight](https://docs.meilisearch.com/refer

[2021-07-06 11:03] driesvints commented on #496
Yes, that sounds reasonable. Feel free to attempt a PR.

[2021-07-06 11:03] #496 closed

[2021-07-16 18:59] stevebeyatte opened #499 "Change Default Chunk Size"
I was indexing 8,000,000 records via MeiliSearch on an AWS machine with 32GB memory, 4 CPUs, and 200GB storage. Every time I imported them to the machine, it was agonizingly slow- meaning the estimated time of completion was 1 week.

It took me a week to realize the default Scout chunk size is 500. I changed it to 10,000 and 8MM records indexed in less than an hour.

I'm not sure if changing the d

[2021-07-16 20:36] driesvints commented on #499
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2021-07-16 20:36] #499 closed

[2021-07-19 09:40] jayenne opened #500 "queued searches don't obey makeAllSearchableUsing()"
- Scout Version: latest
- Scout Driver: MeiliSearch
- Laravel Version: 8.50.0
- PHP Version: 8.0.0
- Database Driver & Version: MariaDB latest

### Description:
queued searches don't obey makeAllSearchableUsing()

### Steps To Reproduce:
create & spin up a new laravel with scout (any driver)
set .env `SCOUT_QUEUE=false`
create and seed two models (ModelA & ModelB), one with a relationship between

[2021-07-19 09:46] jayenne commented on #500
I've seen some chatter on queued job not getting a model's relationships which would explain this but it then does this then make `makeAllSearchesUsing()` poinless when using `SCOUT_QUEUE=true`? or just in conjunction with scout:import?
- either way, maybe this should be clarified in the documentation too?

I'd like to know if I can use scout queue and `with` if anyone has a way of doing this?

[2021-07-25 12:38] Stevemoretz opened #502 "Manual Indexing"
Hi I don't know if this is already possible or not, I couldn't find a question template or a discussion section so here I am.

I normally use laravel and WordPress togheter, I want to know if there is a way that instead of what update and create is doing automatically right now, if I could do it myself somehow.

The entries are made in WordPress so no create or update happens for me, however I can

[2021-07-25 13:03] driesvints commented on #502
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2021-07-25 13:03] #502 closed

[2021-07-28 10:36] driesvints commented on #500
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2021-07-28 10:36] #500 closed

[2021-08-03 14:14] mechelon opened #504 "where() clauses don't work with new MeiliSearch version"
- Scout Version: v9.2.3
- Scout Driver: MeiliSearch
- MeiliSearch Version v0.21.0 via takeout on Docker
- Laravel Version: 8.50.0
- PHP Version: 8.0.7
- Database Driver & Version: 10.5.5-MariaDB Homebrew

### Description:
It seems that the parameter name for `filters` in the MeiliSearch API has changed to `filter` (singular!) and the Scout package needs to be adjusted.

### Steps To Reproduce:
- W

[2021-08-03 14:25] curquiza commented on #504
Hello @mechelon, you are using a RC (release candidate) of MeiliSearch -> the v0.21.0 is not out yet so the MeiliSearch integrations are not compatible at the moment. An update of the [`meilisearch-php`](https://github.com/laravel/scout/blob/167752d6f8e7a1d4d5a8415c44b60371e9324779/composer.json#L54) will be necessary once the new version is out. You can follow this repository to know when you can

[2021-08-03 14:34] driesvints commented on #504
Thanks @curquiza

[2021-08-03 14:34] #504 closed

[2021-08-03 14:35] driesvints commented on #504
Thanks for reporting @mechelon. As @curquiza says, this should be available out of the box when the newer SDK version is released.

[2021-08-03 15:24] mechelon commented on #504
Okay, thank you! Didn't notice that takeout installs the release candidate as a default.

[2021-08-05 12:01] alchibekov commented on #339
MyModel::search('myQuery')->get()->load('myRelation');

[2021-08-05 12:01] alchibekov commented on #339
`MyModel::search('myQuery')->paginate(0)->load('myRelation');`

[2021-08-13 01:59] diogoaguiar opened #506 "map function from MeiliSearchEngine is using getKeyName() instead of getScoutKeyName()"
- Scout Version: 9.2.5
- Scout Driver: MeiliSearch
- Laravel Version: 8.54.0
- PHP Version: 7.4.20
- Database Driver & Version: MySQL 5.7

### Description:
While using the MeiliSearch driver, and custom model ID set with `getScoutKey()` and `getScoutKeyName()` methods, I was getting no results and the following warning repeatedly, whenever performing a search:

I checked the specified line and kno

[2021-08-13 05:15] mmachatschek commented on #506
This is kind of a know problem:

- https://github.com/laravel/scout/pull/484
- https://github.com/laravel/scout/pull/485

Unfortunately changing this would be a breaking change and requires more configuration than just changing geKeyName to getScoutKeyName as pointed out here https://github.com/laravel/scout/pull/484#issuecomment-863189618

[2021-08-13 06:55] driesvints commented on #506
see the above. Thanks @mmachatschek

[2021-08-13 06:55] #506 closed

[2021-08-13 10:55] diogoaguiar commented on #506
So, for the moment, we can't use getScoutKey() or getScoutKeyName() with MeiliSearch and toSearchableArray() must contain model's primary key. Is this correct?

[2021-08-18 03:14] jandrescossio commented on #223
If you are using Meilisearch you can do this:
`
$products = Product::search($request->input('search'), function ($meilisearch, $query, $options) {
            $meilisearch->updateRankingRules(['desc(name)']);
            return $meilisearch->search($query, $options);
        })->paginate(10);
`

[2021-08-26 15:42] georgeboot opened #512 "Meilisearch 0.21.x and backwards compatibility"
Yesterday, I did a PR (#510) to support breaking changes introduced in Meilisearch 0.21.0.

I spoke to one of the maintainers of Meilisearch today (https://github.com/meilisearch/meilisearch-php/issues/199) and he suggest only supporting the last mayor version of the SDK.

Also, as it turns out, the SDK versioning scheme is different from the server versioning scheme. The current check for 0.21.0

[2021-08-26 18:59] #512 closed, assigned to nobody

[2021-08-31 02:27] dafa168 opened #514 "在lumen中安装有个报错"
ScoutServiceProvider.php 文件中

[code]

[2021-08-31 07:37] driesvints commented on #514
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2021-08-31 07:37] #514 closed

[2021-09-02 18:33] nezaboravi opened #516 "0.21 meilisearch breaking changes"
- Scout Version:  v9.2.8
- Scout Driver: MeiliSearch
- Laravel Version:  8.58.0
- PHP Version: 8.0.9
- Database Driver & Version:  mySql 8.0.25 for macos11.3 on x86_64 (Homebrew)

### Description:
Since last changes on meilisearch, filters are not working.
I have seen changes and updated code, so instead of 'filters' now is a 'filter' as a index
[code]
When I replace it with filter, I am getting e

[2021-09-03 07:14] driesvints commented on #516
@curquiza @georgeboot didn't we fix this with the latest PR's? Should we revert everything?

@nezaboravi what's your Meilisearch PHP version?

[2021-09-03 07:16] driesvints commented on #516
@georgeboot I'm thinking your changes to convert everything back to singular `filters` might not be correct here? https://github.com/laravel/scout/pull/513

[2021-09-03 07:19] driesvints commented on #516
I'm still finding some `filters` references in the source code in the search and paginate methods amongst else. Should we convert these?

[2021-09-03 07:19] georgeboot commented on #516
Meilisearch doesn't support filters without fist specifying the filterable columns first, anymore. Before 0.21 they had filters and facet filters. Filters has been removed and facet filters is now named filters.

It is thus up to the user to add the columns to filter on, to their index settings, or to just simply not use the `where` function.

Not really anything Scout can do something about I thi

[2021-09-03 07:22] driesvints commented on #516
In that case I think we shouldn't be updating to newer Meilisearch versions anymore on stable Scout releases. We can't have people's apps breaking when they run a simple composer update.

[2021-09-03 07:23] georgeboot commented on #516
Also note that the changes done in the closure (2nd argument of search) are applied AFTER the internal rename from filters to filter. So that is full user-land code.

[2021-09-03 07:27] georgeboot commented on #516
Internally, it's still called `filters`. Before sending it to the API, we rename if needed. So I think we should leave that as is.

[2021-09-03 09:10] curquiza commented on #516
Hello!

Indeed!
Cf https://github.com/laravel/scout/blob/0db23cc68de62b3b25b909c0d57b33c4ed585af4/src/Engines/MeiliSearchEngine.php#L131-L135
I think the error can come from the `meilisearch-php` version.

FYI the detailed changelogs of MeiliSearch are described [on GitHub Release](https://github.com/meilisearch/MeiliSearch/releases/tag/v0.21.0) and in [this article](https://blog.meilisearch.com/w

[2021-09-03 11:31] driesvints commented on #516
Thanks for the explanation @curquiza. I can agree that if the OP makes a conscience choice of upgrading their Meilisearch binary that they also need to review the Meilisearch changelog.

@nezaboravi I hope you understand from the above why this isn't a Scout issue and that you should always review the breaking changes of the binary.

I've sent in a PR to the docs for this: https://github.com/larav

[2021-09-03 11:31] #516 closed

[2021-09-03 13:34] curquiza commented on #516
Thanks for the PR to the docs!

[2021-09-03 15:24] nezaboravi commented on #516
@driesvints Thank you all guys for the follow-ups.

This exactly is a problem. In Meilisearch-php is a method on website documentation, where you can set filters.
[code]

Cant you in scout make updateFilterableAttributes to be used with MeiliEngine?

@georgeboot  how to use "where" or to make. changes in filter settings? I see an option to send Curl, but this is not really good solution to do manu

[2021-09-03 15:57] nezaboravi commented on #516
Here how i did it to make it work:

Model.php

[code]
 public function toSearchableArray(): array
    {

        $data = $this->only(['id']);
        // add additional fields from profile (or related models).

        $url = config('scout.meilisearch.host');
        $hit = new Client($url);
        $hit->index($this->searchableAs())->updateFilterableAttributes(['active']);
        return $data;

[2021-09-04 07:55] dungnh opened #517 "Got the issue with Invalid URL: scheme is missing"
### Environment
- OS: MAC Bir Sug
- Laravel run with Valet 2.15.4 with secure
- Scout Version: ^9.2
- Scout Driver: MeiliSearch v0.21.1
- Laravel Version: ^8.14
- PHP Version: 8.0.8
- Database Driver & Version: MySQL 8

### Description:

I have installed the newest MeiliSearch with MAC, Valet and Laravel 8 with Scout. And I got exception when run meilisearch function:

[code]
Please help how can I

[2021-09-05 10:48] driesvints commented on #517
This seems like an issue you should post on the meilisearch issue tracker

[2021-09-05 10:48] #517 closed

[2021-09-07 15:04] lkmadushan opened #518 "CollectionEngine should obey relationships and dynamic values"
In the `searchModels` method following code block should be changed from,

[code]

to

[code]

[2021-09-07 15:05] driesvints commented on #518
Feel free to attempt a PR.

[2021-09-07 15:05] #518 closed

[2021-09-09 18:05] Tiththa commented on #516
@nezaboravi i followed your approach, i am getting a json payload failed, a syntax error when i am trying to re-import. Wonder what's wrong

[2021-09-09 18:37] joecampo commented on #516
@Tiththa The problem with that approach is it is going to hit the index every single time `toSearchabbleArray` is invoked. If you're importing a lot of records this is going to fail as eventually it'll overwhelm Meilisearch and you'll get HTTP timeouts. A better approach is to make a `scout:setup` command and create the indexes and update the filterable attributes just once, then update your recor

[2021-09-09 18:41] Tiththa commented on #516
@joecampo Thank you so much for the recommendation. It is a clean approach. Going to try it out. Thanks once again

[2021-09-13 07:24] nezaboravi commented on #516
True, I realized this. A teammate suggested Maybe even better is to create it in a migration file so it will be automatically on deploy, and every time we need to add a new filter, write a new migration, simple as that.

[2021-09-13 07:44] nezaboravi opened #522 "Automatically reindexing on save() wont reindex relation"
- Scout Version:  v9.2.8
- Scout Driver: MeiliSearch
- Laravel Version:  8.58.0
- PHP Version: 8.0.9
- Database Driver & Version:  mySql 8.0.25 for macos11.3 on x86_64 (Homebrew)

### Description:
I have a model User, and a model Profile
When I do PHP artisan scout:import,
this happens:
[code]

User is indexed in meilisearch index.

When I try to change user data, something like:
[code]

The user

[2021-09-13 07:59] mmachatschek commented on #522
Profile is a relation on your Product model, when updating the profile, the Product model isn't touch and therefore no update event is executed that gets picked up by the Scout events. You can "touch" the product model when updating the profile like this https://laravel.com/docs/8.x/eloquent-relationships#touching-parent-timestamps after adding this, model events for the Product model are executed

[2021-09-13 08:10] mmachatschek commented on #522
And secondly I think this should be like this with a push instead of a save in order to save the relationships of the User model:

[code]
In your example, the profile isn't saved to the database, thats also an additonal point why there is no change in the index

[2021-09-13 08:34] driesvints commented on #522
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2021-09-13 08:34] #522 closed

[2021-09-13 13:24] nezaboravi commented on #522
@driesvints not really, you know, looking at support channels are just a toon of asked questions, no one is replying, or, they do, very very rarely. (on discord at least)

[2021-09-13 13:27] nezaboravi commented on #522
Thank you mate
when you do save() it does touch() parent method and updated updated_at column.
trying to use touch() explicitly, did not work too.
Parent is updated, updated_at is updated, but not index.
I will check user->push. Thank  you kind sir :)

[2021-09-14 06:55] wassim opened #523 "Add support MeiliSearch v0.22.0"
[v0.22.0](https://github.com/meilisearch/MeiliSearch/releases/tag/v0.22.0) introduces some breaking changes and new features like sorting at query time!
@curquiza

[2021-09-14 07:07] driesvints commented on #523
Feel free to send in a pr that's non breaking for the current release.

[2021-09-14 07:07] #523 closed

[2021-09-14 07:55] curquiza commented on #523
Hello!
FYI, the sort feature is not breaking 🙂

[2021-09-14 08:00] wassim commented on #523
@curquiza

The scout:import fails when I try to update sortable attributes.

[code]

[code]

[2021-09-14 09:31] curquiza commented on #523
What is your version of meilisearch-php? Your version of MeiliSearch?

[2021-09-14 09:59] wassim commented on #523
@curquiza meilisearch-php [v0.19.1](https://github.com/meilisearch/meilisearch-php/releases/tag/v0.19.1)

[2021-09-14 10:10] curquiza commented on #523
Which version of MeiliSearch do you use?
[code]
You might want to replace `http://127.0.0.1:7700` by your MeiliSearch server address if you are not working locally

[2021-09-14 14:51] wassim commented on #523
@curquiza sorry, forgot to restart the MeilSearch server after upgrade. Thanks for the follow up.

[2021-09-24 12:17] Lavendar77 opened #527 "`where()` clauses don't work with latest MeiliSearch version"
- Scout Version: ^9.2
- Scout Driver: MeiliSearch
- Laravel Version: ^8.54
- PHP Version: ^8.0
- MeiliSearch version: 0.22.0

### Description:
It seems that the MeiliSearch server does not allow where clauses on the direct model attributes anymore.

### Steps To Reproduce:
[code]

### Error:
[code]

### I still went further to add, but this does not show the correct result:
[code]

[2021-09-27 08:44] driesvints commented on #527
Ping @curquiza

[2021-09-27 09:05] Lavendar77 commented on #527
Hello @curquiza

### Following your reply on:

### What I did:
I am trying to downgrade now using `brew install meilisearch@0.20.0` and even `brew install meilisearch@v0.20.0`, but does not work.

### Error
[code]

[2021-09-27 10:14] curquiza commented on #527
Hello @driesvints and @Lavendar77

The error mentioned your field is not a `filterableAttributes`.

`updateFilterableAttributes` is an asynchronous task and might take time to be applied. It's a setting.
You should apply this setting change once only, and before doing any search, so not in the `Model::search()` callback.
Here are the docs, only options should be passed: https://laravel.com/docs/8.

[2021-09-27 10:19] driesvints commented on #527
Thanks @curquiza

[2021-09-27 10:19] #527 closed

[2021-09-27 20:45] G3z opened #529 "support operators in filter"
Both algolia and meilisearch supports operatators other than `=` when using filters

` <, <=, =, !=, >=, > ` are available for both engine

[Algolia docs](https://www.algolia.com/doc/guides/managing-results/refine-results/filtering/how-to/filter-by-numeric-value/#applying-a-numeric-filter)
[MeiliSearch docs](https://docs.meilisearch.com/reference/features/filtering_and_faceted_search.html#using-fi

[2021-09-28 06:51] driesvints commented on #529
Yeah that sounds interesting, definitely. Probably best to send to master for breaking changes. If you can and preserve the current behavior as much as possible to minimize the breaking changes that'd be great. Thanks!

[2021-09-28 06:51] #529 closed

[2021-09-28 11:44] patlamontagne opened #530 "paginateRaw() results array is incorrect"
- Scout Version: ^9.2
- Laravel Version: ^8.60
- PHP Version: ^8.0
- Scout Driver: MeiliSearch
- Meilisearch version: 0.22.0

### Description:
When using `paginateRaw()`,  the `$paginator->items()` method returns this result array instead of the expected items array.

[code]

I havent tested with other engines but I think this could be a compatible fix :
[code]

[2021-09-28 11:46] driesvints commented on #530
Ping @curquiza

[2021-09-28 17:21] curquiza commented on #530
Hello @driesvints and @patlamontagne!
I'm not sure to understand the issue.
Isn't the purpose of `rawPaginate()`, to get the whole result? Using only `paginate()` will make return the array of `hits`.

[2021-09-28 17:45] patlamontagne commented on #530
I would be expecting `rawPaginate()` to return a paginator working exactly like `paginate()` only calling `$paginator->items()` should return the collection/array of raw results from the meilisearch query instead of the usual collection of eloquent models.

The paginator itself needs  `items` to be the collection of items to work properly. I found out that when using livewire's tailwind default pa

[2021-09-29 08:09] driesvints commented on #530
Heya, thanks for reporting.

We'll need more info and/or code to debug this further. Can you please create a repository with the command below, commit the code that reproduces the issue as separate commits on the main/master branch and share the repository here? Please make sure that you have the [latest version of the Laravel installer](https://github.com/laravel/installer) in order to run this c

[2021-09-29 09:31] patlamontagne commented on #530
@driesvints I might be able to do that in the upcoming days, but before I proceed, can any of you guys confirm that the paginator using raw data is (or isn't) supposed to work out of the box when rendered in a template? Has it ever with former versions? And by that I mean looping directly through `$paginator->items()` expecting to display the result and rendering the pagination links with `$pagina

[2021-09-29 15:03] mmachatschek commented on #530
The docblock of the `paginateRaw()` method states `Paginate the given query into a simple paginator with raw data`. Raw in scouts context means the result returned by the underlying search engine of the submitted search.

The method was introduced with PR https://github.com/laravel/scout/pull/220 to be able to get the faceted filters, aggregations etc. from the search engine with the possibility t

[2021-09-29 15:04] driesvints commented on #530
Thanks @mmachatschek

[2021-09-29 15:04] #530 closed

[2021-10-01 15:59] eliasjtg opened #535 "Pagination with query callback broke pagination in last meilisearch version"
- Scout Version: 9.2.9
- Scout Driver: MeiliSearch 0.22
- Laravel Version:8.61.0
- PHP Version: 8.0.9
- Database Driver & Version: mysql 8.0.26-0ubuntu0.20.04.2

### Description:

After upgrade meilisearch to 0.22 and upgrade meilisearch-php 0.19.1 the pagination is broken when queryCallback is provided.

![image](https://user-images.githubusercontent.com/22435698/135650629-0e53bfa3-1cc6-49e2-b69a

[2021-10-04 01:47] PR4M opened #536 "Laravel Scout Meilisearch: Says Imported Models, but doesn't"
- Scout Version: ^9.2
- Scout Driver: MeiliSearch
- Laravel Version: ^8.21
- PHP Version: 8.0.1
- Database Driver & Version: MySQL

### Description:
Running `php artisan scout:import "App\Models\:name" always returns:
All [App\Models\Content] records have been imported.

But the model records were never stored on Meilisearch. Neither the index was automatically created during the import process (a

[2021-10-04 10:05] driesvints commented on #535
Did you restart Meilisearch after upgrading?

[2021-10-04 10:06] driesvints commented on #536
Please provide the exact Scout and Meilisearch versions when submitting issues.

Did you:

- Upgrade Meilisearch binary to the very latest version?
- Upgrade scout to the very latest version?
- Restarted Meilisearch process after upgrading?

[2021-10-04 13:42] eliasjtg commented on #535
I'm using Homestead, i do `vagrant reload --provision`

This happening in my team and in production vps

[2021-10-04 13:47] mmachatschek commented on #535
@eliasjtg can you post the result of `return Post::search($search)->paginateRaw(5);` so we can verify if this is an issue with scout or with meilisearch?

[2021-10-04 13:47] eliasjtg commented on #535
A workaround was remove all ->query() callbacks and do the query in the model overriding `queryScoutModelsByIds()` function

[2021-10-04 13:49] eliasjtg commented on #535
Working on it

[2021-10-04 13:56] eliasjtg commented on #535
@mmachatschek

The output:

[code]

[2021-10-04 13:58] eliasjtg commented on #535
if i do `Post::search($search)->query(function($query) {})->paginateRaw(5);`

[code]

[2021-10-05 00:43] PR4M commented on #536
Here's the exact Meilisearch version:
[code]

Here's the exact Scout version:
v9.2.10

- I think my Meilisearch is its very latest version
- And the Scout too
- I never upgrade Meilisearch, just installed it recently

[2021-10-05 09:00] driesvints commented on #536
Heya, thanks for reporting.

We'll need more info and/or code to debug this further. Can you please create a repository with the command below, commit the code that reproduces the issue as separate commits on the main/master branch and share the repository here? Please make sure that you have the [latest version of the Laravel installer](https://github.com/laravel/installer) in order to run this c

[2021-10-08 07:40] driesvints commented on #535
This'll be in next week's release. Thanks @mmachatschek

[2021-10-08 07:40] #536 closed

[2021-10-25 09:57] zaalbarxx opened #541 "Eager load relationships when re-indexing models using `searchable()`"
Currently when dispatching `searchable()` on model or database collection the models will get passed to search driver's `update` method and then the `toSearchableArray()` will get called on each of the items. The issue here is that if we are using relationships in the models we will get n + 1 queries, because each `toSearchableArray()` call will lazy load the relationships for single model.

My pr

[2021-10-25 09:59] #541 closed, assigned to nobody

[2021-11-09 01:29] jasonbosco opened #543 "Integration with Typesense, an open-source alternative to Algolia / ElasticSearch"
Hi team 👋

I'm Jason, one of the authors of [Typesense](https://github.com/typesense/typesense), which is an open source alternative to Algolia and an easier to use alternative to ElasticSearch. [Here's](https://typesense.org/typesense-vs-algolia-vs-elasticsearch-vs-meilisearch/) a comparison article for context and [examples](https://github.com/typesense/typesense/blob/master/SHOWCASE.md) of folk

[2021-11-09 08:25] driesvints commented on #543
Heya sorry but we have no plans beyond the current drivers. It's best that you release this as a third party package.

[2021-11-09 08:25] #543 closed

[2021-11-09 08:52] jasonbosco commented on #543
@driesvints Appreciate the swift response. Any particular reason drivers for additional search engines are not allowed natively in Scout any more?

I’d imagine it would be a net benefit to Laravel users if more search engines worked out of the box with Scout. Did the scope of the project change?

[2021-11-09 09:12] driesvints commented on #543
We don't want to take on the maintenance burden of another driver.

[2021-11-10 16:39] lukasleitsch opened #544 "Soft Deletes not working with MeiliSearch 0.23.1"
- Scout Version: 9.3.1
- Scout Driver: MeiliSearch
- MeiliSearch Version: 0.23.1
- Laravel Version: 8.70.2
- PHP Version: 8.0.12
- Database Driver & Version: 10.6.4-MariaDB

### Description:

Scout can't filter records if `soft_delete` is enabled in the scout config. With `soft_delete` enabled the search failed with `--> 1:1 | 1 | __soft_deleted=0 | ^------------^ | = attribute `__soft_deleted` is

[2021-11-10 18:37] driesvints commented on #544
Thanks @mmachatschek

[2021-11-10 18:37] #544 closed

[2021-11-11 06:31] lukasleitsch commented on #544
Thank you very much for the explanation, @mmachatschek

I was a little bit confused after reading [the documentation](https://laravel.com/docs/8.x/scout#soft-deleting) and the [comment in the `scout.php` config](https://github.com/laravel/scout/blob/ad961771d1f38aadc01e658e5a9bd83a90a828f7/config/scout.php#L77).

I guessed that scout handles everything after enabling the option in the config.

[2021-11-11 07:10] mmachatschek commented on #544
@driesvints where should a info be added? to the config file and or the docs?

[2021-11-11 07:48] driesvints commented on #544
Docs probably

[2021-11-13 14:30] totiherms opened #548 "Send new records or updates into big chunks"
Hi, I have an index with about 300k documents. I've imported to meilisearch at once, using chunks of 10k records, and meilisearch indexes it very fast (about 10-15 seconds per chunk)

Now, every time a record is added, laravel scouts sends to meilisearch a document to index one by one, and this is very time-consuming, for example I've added 1700 records, which will take about 13 days to process...

[2021-11-13 14:40] driesvints commented on #548
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2021-11-13 14:40] #548 closed

[2021-11-17 10:23] tommy66374 opened #549 "soft delete a record wouldn't delete the meilisearch index"
- Scout Version: "laravel/scout": "^9.3",
- Scout Driver: "meilisearch/meilisearch-php": "^0.19.2"
- Laravel Version: "laravel/framework": "^8.54",
- PHP Version: 8.0.11
- Database Driver & Version:

### Description:
With default settings, soft delete a record wouldn't delete the meilisearch index, still can search the soft deleted record

### Steps To Reproduce:
Homestead.yaml
[code]

.env
[code]

[2021-11-17 11:22] driesvints commented on #549
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2021-11-17 11:22] #549 closed

[2021-11-23 08:21] osama-klabs opened #551 "Unable to Set Custom ObjectId"
- Scout Version: 9.3
- Scout Driver: Algolia
- Laravel Version: 8
- PHP Version: 7.4
- Database Driver: mysql

### Description:
I am unable to change objectId using getScoutKey
Default objectId App\Models\Product::1 for model Product
i need to change this to Product::1

I tried

`public function getScoutKey()
    {
        return 'Product::'.$this->id;
    }`

but it inserting  App\Models\Product:

[2021-11-23 08:45] driesvints commented on #551
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2021-11-23 08:45] #551 closed

[2021-11-26 17:50] jkalousek opened #552 "Pagination with subquery returns no or limited data"
- Scout Version: 9.3.2
- Scout Driver: MeiliSearch
- Laravel Version: 8.69
- PHP Version: 8.0.3
- Database Driver & Version: 0.24

### Description:
My problem seems related or at least somewhat similar to #450 in regards that The results break when I append an subquery.

I have table "Materials" filled with about 17 500 rows.

### Steps To Reproduce:
When I run:
`$materials = Material::where('pric

[2021-11-26 18:03] jkalousek commented on #552
UPDATE: I was just playing with the search terms and with some other terms I manage to get on first page 5 results (should have returned 10) and then 10 on second page 8 on third page and 9 on fourth page. So there seems to be really something wrong with how much data is returned.

[2021-11-28 22:31] jasonbosco commented on #543
@driesvints Looking at recent issues in this repo I see what you mean. Just want to say that Typesense is quite stable, scaleable and is already being used in production by several teams. So hopefully the maintenance burden is much lesser.

In any case, a Typesense contributor is offering to take on the maintenance burden of the scout driver itself, so it doesn’t fall on the core team.

Does that

[2021-11-29 14:12] mmachatschek commented on #552
@jkalousek when you do a normal `->paginate(10)` on the second query instead of `->simplePaginate(10)` do get 0 results too? Secondly do you get results if you do:

[code]

[2021-11-30 07:31] wazimshizm commented on #544
tried https://github.com/meilisearch/meilisearch-laravel-scout/wiki/Indexes-settings-using-model as per your instructions. and added

[code]

Just throws
`Call to undefined method MeiliSearch\Endpoints\Indexes::filterableAttributes()` when running the command.

tried looking at the instructions as per what was recently added into the documentation. We have to make post calls to make it work? I don

[2021-11-30 07:34] mmachatschek commented on #544
[code]

[2021-11-30 07:37] wazimshizm commented on #544
Legend, Thank-you!

[2021-11-30 11:11] koushik355 opened #554 "Soft delete doesn't work"
- Scout Version: 9.3.2
- Scout Driver: MeiliSearch
- Laravel Version: 8.52.0
- PHP Version: 8.0.8
- Database Driver & Version: PostgreSQL 13.2, compiled by Visual C++ build 1914, 64-bit

### Description:
If I add `soft_delete` to true, it doesn't work. Please check the steps the reproduce.
It works perfectly fine with `soft_delete` to `false`

### Steps To Reproduce:

Change the `soft_delete` in `

[2021-11-30 11:25] driesvints commented on #554
@mmachatschek @curquiza can one of you check into this?

[2021-11-30 11:26] mmachatschek commented on #554
@koushik355 this is the same problem like https://github.com/laravel/scout/issues/549 you need to tell the MeiliSearch Index that this field is filterable or it wont work

[2021-11-30 11:28] mmachatschek commented on #554
@driesvints I still think this PR https://github.com/laravel/docs/pull/7423 is worth merging. I may find some time soon to add an additional example command to the docs on how to tackle this situation.

[2021-11-30 11:39] driesvints commented on #554
Thanks @mmachatschek

[2021-11-30 11:39] #554 closed

[2021-11-30 12:27] koushik355 commented on #554
@mmachatschek Thank you. Solved it using that.

To anyone who runs into the same problem, here is how to solve it.
The most optimal way to create a command that you can execute every time whenever you add a new model into index
Steps to solve this problem completely for once and all
Create a command
`php artisan make:command ResetMeiliSearch`

[code]

Make sure to import this at the top

`use Meil

[2021-11-30 13:06] mxmtsk opened #555 "Meilisearch: Sortable and Filterable Attributes not updating when including _geo attribute"
- Scout Version: 9.3.2
- Scout Driver: MeiliSearch
- Laravel Version: 8.73.1
- PHP Version: 8.0.13
- Database Driver & Version: MySQL 8

### Description:
To make some attributes filterable and sortable I've written a small artisan command to do the work for me. Now I wanna use [Meilisearch's Geosearch functionality](https://docs.meilisearch.com/reference/features/geosearch.html). For that, I added

[2021-11-30 13:10] mmachatschek commented on #555
@mxmtsk please try to get in touch with a support channel on MeiliSearch Slack they will get you up and running.
This issue looks to me like an implementation problem, specific to your usecase.

[2021-11-30 13:10] driesvints commented on #555
Seems like a feature request to me. Feel free to submit a PR or open an issue on the meilisearch repo.

[2021-11-30 13:10] #555 closed

[2021-11-30 13:37] mmachatschek commented on #554
@koushik355 and others here is a working command that should be executed with each deployment or MeiliSearch update

https://gist.github.com/mmachatschek/c27ecb45b479d033d68f4355861b10d8

This automatically gets the needed configuration for each model/index and applies the update methods on the index. It's derived from the archived wiki article https://github.com/meilisearch/meilisearch-laravel-sc

[2021-12-02 10:14] driesvints commented on #552
Closing this issue because it's inactive, already solved, old or not relevant anymore. Feel to open up a new issue if you're still experiencing this.

[2021-12-02 10:14] #552 closed

[2021-12-02 15:41] koushik355 commented on #554
@mmachatschek I did try that but it didn't update it. I'm pretty sure that it didn't fail either because there's no log or error message while executing the commands. Here is what I followed

1. made changes to `scout.php` as mentioned in the gist
2. `php artisan config:cache`
3. `php artisan scout:import "App\Models\ModelName"`
4. `php artisan tinker`
5. Searched for my model using this `ModelNam

[2021-12-02 15:55] koushik355 commented on #554
The solution for me was to create a command and update those settings so that anytime on any env I needed or any dev needed it we could execute it. Here is what my solution looked like
[code]

[2021-12-10 19:54] oulfr opened #557 "Pagination issue"
Using search method in laravel scout with more than one page throw key index exception .
In file: src/Engines/CollectionEngine.php
never use index like that to get the first element of list $results[0], it's better to use array_pop that give the last element of the list

[2021-12-10 20:24] driesvints commented on #557
Feel free to attempt a pr. Thanks.

[2021-12-10 20:24] #557 closed

[2021-12-11 12:46] oulfr commented on #557
i dont understand how you manage your issue, the first time i have seen your issue page in github i said wow this project have zero issue all are corrected but after my issue i have understand how you manage issue!! samply you close them there is no correction. in my opinion this not serious !!

[2021-12-13 13:45] oulfr opened #558 "Undefined array key 0 pagination"
- Scout Version: 9.3.0
- Scout Driver: Collection
- Laravel Version: 8.65
- PHP Version: 8.0
- Database Driver & Version: Mysql 5.0

### Description:
The scout collection driver throw an exception with pagination:
	ErrorException
Undefined array key 0

### Steps To Reproduce:

1. Enable scout driver in .env: SCOUT_DRIVER=collection
2. Add route to web.php:

          Route::get('search', '\Modules

[2021-12-13 13:53] driesvints commented on #558
Please provide a way to reproduce this without `$request->q`. Please give me the exact search string that'll trigger this.

[2021-12-13 14:12] oulfr commented on #558
You can search in any model first we need a string column and in the model add this searchable column:

       public function toSearchableArray()
         {
            return ['name', 'email','...'];
        }

When there is many row with name begin with 'a' we can search like this:

                 public function search(Request $request): \Illuminate\Http\JsonResponse
               {

[2021-12-13 14:22] driesvints commented on #558
I can't reproduce this sorry. Everything works fine and I get the JSON result when I paginate through different pages. Please try a support channel if you need help with this:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/invite/KxwQuKb)
-

[2021-12-13 14:22] #558 closed

[2021-12-13 14:55] driesvints commented on #558
That also still just works for me.

[2021-12-13 15:07] oulfr commented on #558
are you sure that your result contains something ? maybe you arent in collection driver or your search result is empty

[2021-12-15 05:32] bobmulder opened #560 "Use dynamic index when importing collections of models"
Hi there!

There is an usecase where I want to make my models searchable in indexes separated by language.

I discovered there is partial support for this in Scout. At first, you have the `searchableAs` method to define a custom index for the model. Great. However, when importing collections of those models, things will go slightly different:

[code]

When updating a collection of models, the used

[2021-12-16 09:24] driesvints commented on #560
I think it was only intended to use a single index per model type. I'm not sure it's wanted overal to have dynamic indexes.

@mmachatschek @curquiza do any of you maybe know if that's wanted?

[2021-12-16 09:27] mmachatschek commented on #560
The Meilisearch Engine driver tries to mimic the Algolia Engine. As far as I invastigated this, the AlgoliaEngine does the same thing. It always gets the index name from the first model in the update statement.

As MeiliSearch supports using multiple indexes I think this is worth PRing to support the functionality

[2021-12-16 09:31] driesvints commented on #560
Thanks @mmachatschek.

@bobmulder feel free to send in a PR. I *think* this can be sent to the current release since you couldn't have dynamic indexes before.

[2021-12-16 09:31] #560 closed

[2021-12-16 12:25] bobmulder commented on #560
Thank you @mmachatschek, I've introduced #561 to make this happen for `MeiliSearchEngine`.

I have no experience with Algolia, but  according to the code I suppose we could do the same for `AlgoliaEngine`. Do you agree?

[2021-12-16 14:22] brad-tilmor opened #562 "Implement fallback driver on failure"
Hi, I was thinking that since Scout is built to integrate with external search services, it would be useful to allow for a fallback to the Eloquent driver upon failure of that external service (say an API key expires, the service is down, etc) to prevent end-user service interruptions.

If you think that would be useful, I can take a crack at implementing it if you'd like!

[2021-12-16 15:24] driesvints commented on #562
Hey @brad-tilmor, we don't think a fallback driver makes much sense ourselves. We feel that people in general won't be maintaining two separate drivers. Sorry

[2021-12-16 15:24] #562 closed

[2021-12-16 22:27] brad-tilmor commented on #562
@driesvints, I'm envisioning that it would fall back to the Eloquent driver by default, since they clearly wouldn't be using both Algolia and Meilisearch for instance. Currently, if say, a hosted Meilisearch server is down for instance, it times out, which would break functionality for the end-user. I think it'd be vastly preferable to simply return the results more slowly from the database, you d

[2021-12-17 07:18] driesvints commented on #562
No, we don't feel that this would be of much use ourselves, sorry.

[2021-12-17 13:36] brad-tilmor commented on #562
Okay, well as a scout user I disagree, but that's fine.

[2021-12-23 10:15] caugner opened #563 "Missing tag/changelog for laravel/scout v9.3.3"
- Scout Version: 9.3.3
- Scout Driver: Algolia / MeiliSearch
- Laravel Version: 8.77.1
- PHP Version: 8.1.0
- Database Driver & Version:

### Description:

Packagist has a version v9.3.3 of this package, but there is no corresponding tag/changelog.

### Steps To Reproduce:

See: https://packagist.org/packages/laravel/scout#v9.3.3

[2021-12-23 10:19] driesvints commented on #563
We'll get that removed. Thanks for making us aware 👍

[2021-12-23 10:19] #563 closed

[2021-12-23 11:03] caugner commented on #563
Thanks for the quick response.

Are you considering actually *removing* that version *from Packagist* though? Wouldn't that mean that `composer install` will start failing for folks who have that version in their `composer.lock` (except if they have it in their cache or use a proxy).

[2021-12-23 11:11] driesvints commented on #563
This was a faulty release. We're gonna remove the tag.

[2021-12-23 11:31] caugner commented on #563
Just to understand: Are you recommending folks having already updated to this 9.3.3 to manually downgrade to 9.3.2 then? 🤔

If you remove 9.3.3 now and release a new 9.3.3 version later, I tend to think that Composer would not offer to update folks from (removed) 9.3.3 to (future) 9.3.3. Unless this release does indeed have major faults (i.e. instead of just being 9.3.2 with a different version nu

[2021-12-23 13:16] driesvints commented on #563
I released v9.3.4 👍

[2021-12-24 05:17] GregPeden commented on #277
For anyone else arriving here at this solution in the future... if you adopt solution #2, you must replace EVERY instance of ```use Searchable``` with your own custom instance. You cannot mix. The reason is because this trait invokes Laravel's special "boot" method feature to hook a "searchable" macro on to Eloquent Collections. If you mix both then ```->searchable()``` on collections invokes the

[2021-12-30 01:41] koapeadu opened #565 "Missing records in MeiliSearch index on running scout:import"
- Scout Version: 9.3.3
- Scout Driver: MeiliSearch
- Laravel Version: 8.42.1
- PHP Version: 7.4.3
- Database Driver & Version: meilisearch server v0.24

### Description:
Running the `scout:import` is clears the search index before indexing the records. However, given that MeiliSearch does updates in an asynchronous fashion (https://docs.meilisearch.com/learn/advanced/asynchronous_updates.html), th

[2022-01-03 15:44] driesvints commented on #565
@mmachatschek @curquiza what do you think the best solution is here?

I also vaguely remember Algolia suffering from the same issue but I'm unsure.

[2022-01-04 11:47] curquiza commented on #565
Hello @driesvints and @koapeadu

Yes Algolia has the same behavior, the indexation is asynchronous.

I'm not sure to well understand. What is the clear exactly? The deletion of all the data in the index before the indexation of the new data?
For me, if the clear comes first, it should not create any problem:
1. the "tasks" of document deletion are enqueued into MeiliSearch,
2. then the "tasks" reg

[2022-01-04 23:15] koapeadu commented on #565
Ok I get it.

I think the problem would probably because I had also configured a redis queue and the Scout queue config was on (Sorry, I should have included that in the Steps to reproduce). My guess is that since there were multiple queue workers the tasks were not necessarily executed in order hence the problem.

As a workaround I switched to the `sync` queue driver and run the import and that w

[2022-01-05 07:52] #565 closed

[2022-01-05 07:52] driesvints commented on #565
Thanks @curquiza !

[2022-01-09 07:00] ianbrucey commented on #536
Also having the same issue. I keep running scout import, but no data is being pushed. Has there been any updates on this issue?

[2022-01-10 08:44] curquiza commented on #536
This might not be related to Laravel, check your task status using this route in MeiliSearch. You will know if the import failed or is still processing.
https://docs.meilisearch.com/reference/api/updates.html#get-all-update-status

[2022-01-13 02:41] bedus-creation opened #572 "Sorting feature is missing in MeiliSearch Engine"
- Scout Version: 9.3.4
- Scout Driver:  MeiliSearch
- Laravel Version: 8.61
- PHP Version: 8.0.14
- Database Driver & Version: Mysql 8

### Description:
MeiliSearch supports sorting feature out of the box after defining sortable parameters while indexing. The given `orderBy` method is supposed to work for sorting. Consider the following code.

[code]

The above code should generate a query like in

[2022-01-13 12:22] driesvints commented on #572
This sounds like a feature request. We'd be happy to receive PR's.

/cc @mmachatschek

[2022-01-14 07:52] mmachatschek commented on #572
Hi @bedus-creation,

this feature is plausable but was already tried to be implemented here https://github.com/laravel/scout/pull/537

Maybe this is useful to the DatabaseEngine too and all engines could benefit from a generic solution. @driesvints

[2022-01-14 07:57] driesvints commented on #572
@taylorotwell can we maybe revisit the PR from above that @mmachatschek linked to?

[2022-01-14 11:08] beko1997 opened #573 "Returned null with paginateRaw after upgrading to 9.4.0"
- Scout Version: 9.4.0
- Scout Driver: Algolia
- Laravel Version: 8.79
- PHP Version: 8.0
- Database Driver & Version: SQL Server

### Description:
`paginateRaw` returns null after upgrading to version 9.4.0. It is returning a valid paginator with version 9.3.4.

### Steps To Reproduce:

[code]

Result in 9.3.4 is a valid pagination response.

[2022-01-14 11:10] beko1997 commented on #573
It probably has something to do with not returning the paginatior in de `Builder`:
https://github.com/laravel/scout/blob/7811f6d025cd0024da19a065b0eefb43e6e7eb69/src/Builder.php#L417

I will work on a PR for a fix

[2022-01-18 13:15] #572 closed

[2022-01-18 13:15] driesvints commented on #572
The related pr was merged

[2022-01-18 16:34] bedus-creation commented on #572
I think sort option is still missing in paginate function #537

[2022-01-18 16:35] driesvints commented on #572
@bedus-creation please send in a PR

[2022-01-28 00:00] gerasart commented on #316
use HasTranslations;

[2022-01-30 14:15] StubyProjects commented on #527
Would be cool if we could add a $filterableAttributes Array to the eloquent model, so you wont have to update the filterable settings everytime we need to call where on a scout search query

[2022-02-08 02:38] rodrigopedra opened #581 "Skip adding where clauses when search is empty on `DatabaseEngine`"
Right now if we search for an empty string, for example in a endpoint that lists all users:

[code]

Even when the search string is empty, the where clauses are added:

[code]

Which for the database driver is irrelevant and could lead the query optimizer to pickup a wrong index (when more constraints are added).

If skipping adding the where clauses when the search string is empty is a desirable

[2022-02-08 09:20] driesvints commented on #581
Yeah I think so. Feel free to PR 👍

[2022-02-08 09:20] #581 closed

[2022-02-08 13:42] rodrigopedra commented on #581
Thanks @driesvints , sent PR #582

[2022-02-09 14:58] curquiza commented on #527
It cannot be automatic because it would drastically impact the performance during the search but also the size of the DB on the disk if Meilisearch would add each field as filterable 🙂
However
- if you have any feature requests regarding Meilisearch, you can ask them here: https://github.com/meilisearch/product/
- if you have any questions regarding the Meilisearch core engine in general: https://

[2022-02-10 14:43] martijnderidder opened #583 "Meilisearch error when using orderBy"
- Scout Version: 9.4.0
- Scout Driver: MeiliSearch
- Laravel Version: 9.0.1
- PHP Version: 8.0.13
- Database Driver & Version: MariaDB 10
- Meilisearch/meilisearch-php: 0.21.0

### Description:
I still gettings errors when using the `orderBy` function to sort users when using Meilisearch.

[code]
https://flareapp.io/share/NPGKj1nP#F51

### Steps To Reproduce:

1. Set up a new project with the abov

[2022-02-10 14:58] #583 closed

[2022-02-15 09:43] amir9480 opened #584 "Collection Engine Undefined array key 0 error"
- Scout Version: 9.4
- Scout Driver: Collection
- PHP Version: 8.1

### Description:
When using collection engine and paginate with query callback together `Undefined array key 0 error` exception happens.

### Steps To Reproduce:

1. Make a searchable model and change `SCOUT_ENGINE` to `collection`
2. Perform a search on the model with a query callback and use paginate to get results. (without que

[2022-02-15 14:26] #584 closed

[2022-02-15 17:58] mrABR opened #586 "MeilisearchEngine paginate() incorporate sort"
- Scout Version: ^9.4
- Scout Driver: MeiliSearch
- Laravel Version: 8.83.1
- PHP Version: 8.1
- Database Driver & Version: MySql 8
- Meilisearch Version: v0.25.0 (behaves the same with 0.22.0)
- Meilisearch-php Version: ^0.22.0

Allow me to start by thanking all the work you guys have put into Laravel and its community with the constant evolution.

### Description:

Recently I've implemented scou

[2022-02-15 18:06] mrABR commented on #586
Just noticed this is a duplicate of #572, my bad. Closing issue.

[2022-02-15 18:06] #586 closed

[2022-02-17 00:04] giojkd opened #588 "A facade root has not been set."
- Scout Version: 9.4.4
- Scout Driver: Algolia
- Laravel Version: 8.83.1
- PHP Version: 8.0.15
- Database Driver & Version:

### Description:

Get this message on runtime: "A facade root has not been set."

### Steps To Reproduce:

add searchable trait to any models and run

[2022-02-17 01:20] giojkd commented on #588
`[2022-02-17 01:19:06] laravel.EMERGENCY: Unable to create configured logger. Using emergency logger. {"exception":"[object] (InvalidArgumentException(code: 0): Log [] is not defined. at /Users/giovanniorlandi/Sites/Jinn/vendor/laravel/framework/src/Illuminate/Log/LogManager.php:200)
[stacktrace]
#0 /Users/giovanniorlandi/Sites/Jinn/vendor/laravel/framework/src/Illuminate/Log/LogManager.php(125):

[2022-02-17 07:46] driesvints commented on #588
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-02-17 07:46] #588 closed

[2022-02-18 17:39] andreasmatu commented on #554
Do you know if there are any plans on integrating this into laravel scout natively?
This workaround should be mentioned in the docs, although i think there should be an integrated process in scout.

[2022-02-18 21:12] gstamosbg opened #593 "The Authorization header is missing. It must use the bearer authorization method."
- Scout Version: 9.4.4
- Scout Driver: MeiliSearch
- Laravel Version: 8.83.1
- PHP Version: 8.0.16
- Database Driver & Version: xx

### Description:

The Authorization header is missing. It must use the bearer authorization method.

### Steps To Reproduce:
After last update of meilisearch, i cant access my indexes.
I am receiving ->

`{
    "message": "The Authorization header is missing. It must

[2022-02-18 21:17] mmachatschek commented on #593
@gstamosbg you are using an incompatible version of meilisearch/meilisearch-php and meilisearch it self. Consult the releases page https://github.com/meilisearch/meilisearch-php/releases to check which version you need to use in order to correctly connect to meilisearch.

[2022-02-18 21:20] gstamosbg commented on #593
Oh yes, I hadn't seen it.
`- Upgrading meilisearch/meilisearch-php (v0.18.3 => v0.22.0): Extracting archive`

After that, problem was solved.

Thanks alot,
have a nice day/night :)

[2022-02-18 21:20] #593 closed

[2022-02-21 21:45] samfrjn11 opened #594 "Search results limiting still returning all results"
- Scout Version: 9.4.4
- Scout Driver: Database
- Laravel Version: 9.1.0
- PHP Version: 8.1.2
- Database Driver & Version: MySQL 8.0.28

### Description:
Support for limiting results on the CollectionEngine was added in #569 but the collection still returns all results when `->take(i)` is used.
The application is not throwing an error when using the `->take()` method, but it's not adding the limit

[2022-02-22 08:11] driesvints commented on #594
Ping @keithbrink, do you have any ideas here?

[2022-02-24 12:21] alexseik opened #595 "Error creating index with scout:index command"
- Scout Version: 9.4.5
- Scout Driver: MeiliSearch
- Laravel Version: 8.75.0
- PHP Version: 8.0.5
- Database Driver & Version: MySQL 8.0

### Description:
Error creating index with command `php  artisan scout:index [name] --key [keyName]`

Undefined array key "primaryKey" in file `/meilisearch/meilisearch-php/src/Endpoints/Indexes.php` inside method `create` called by `MeiliSearchEngine::createInd

[2022-02-24 12:42] driesvints commented on #595
Is your Meilisearch binary compatible with your installed Meilisearch PHP version? https://github.com/meilisearch/meilisearch-php#-compatibility-with-meilisearch

[2022-02-25 08:23] robertjarec opened #596 "When using paginate and global scopes the results are scattered"
- Scout Version: 9.4.5
- Scout Driver: MeiliSearch
- Laravel Version: 8.83.2
- PHP Version: 7.4.27
- Database Driver & Version: MariaDB 10.6

### Description:

I am using 2 global scopes that are treated as a workspace for the user and when I'm getting items from the model there are pages when there are 3 results, or 5, or none even though the per page attribute is set to 10. It looks like it is a

[2022-02-25 11:03] alexseik commented on #595
@driesvints Thanks so much for the quickness! Effectively I was using meilisearch-php v0.18 instead v0.22. With meilisearch-php v0.22.0 and meilisearch v0.25 and scout v9.4.5 everything work fine!

[2022-02-25 11:03] #595 closed

[2022-02-25 12:09] martijnderidder opened #597 "I need to wait a second before index is imported again"
Scout Version: 9.4.0
Scout Driver: Elasticsearch
Laravel Version: 9.0.1
PHP Version: 8.0.13
Database Driver & Version: MariaDB 10

### Description:
When i am searching and i delete something in the search results, and i request the same search XHR again, it takes a second to reindex again.

1. I am searching for 'user X' in the users list, and find 10 users.
2. I delete user X, so with the same qu

[2022-02-25 12:10] driesvints commented on #597
@mmachatschek do you know this?

[2022-02-25 12:17] mmachatschek commented on #597
@martijnderidder

Even though you may have turned off queueing of Scout jobs, meilisearch will put the update asynchronously on its internal queue and therefore needs some time until its processed.
If you need to wait for your delete/update to finish, you probably need to write a wrapper around the update and deletion that accesses the meilisearch sdk and will wait for the records to beeing proces

[2022-02-25 12:21] driesvints commented on #597
Thanks @mmachatschek

[2022-02-25 12:21] #597 closed

[2022-02-25 12:22] driesvints commented on #597
Btw, we'd appreciate a PR to the docs if anything can be clarified around this.

[2022-02-25 12:23] martijnderidder commented on #597
@mmachatschek I am using Elasticsearch, but i guess its the same answer haha.. thnx!

Btw, how would you guys fix this problem? When i am loading the page, would you use a empty search() method or maybe making two methods? One for loading user list without searching, and doing it with eloquent... and when a users search, just another method where you use laravel scout?

[2022-02-25 13:02] mmachatschek commented on #597
@driesvints

I added an PR to the docs that clarifies why the updates are async https://github.com/laravel/docs/pull/7747

@martijnderidder

Upps. Didn't see its Elasticsearch. But anyways same thing. The Engine is just not ready or done with processing the queue.

If you want the operation to be fully synchronous (trade off in UX as the user waits longer for a search result but is viable in your

[2022-02-25 13:20] mmachatschek commented on #596
In your repo you only remove the global scope for indexing all records at once. It seems like you want to remove the global scope from searches? Then you would additionally need to override the method `queryScoutModelsByIds`

https://github.com/laravel/scout/blob/32952b79dea17ab506b96f38353207cd75a90205/src/Searchable.php#L233

I don't know whats the official opinion on how to disable  global scop

[2022-02-25 13:22] driesvints commented on #596
This seems more like a feature request to me. Feel free to attempt a PR if you want, thanks.

[2022-02-25 13:22] #596 closed

[2022-02-25 14:03] robertjarec commented on #596
@mmachatschek @driesvints  I'm sorry if I didn't explain it well in the first place, I don't want the global scopes to be disabled from searches, I want them to be used in searches and get full pages of results.

If that's not possible, I would need to index every possible global scope I have.

[2022-02-25 14:06] driesvints commented on #596
@robertjarec that still sounds like a feature request. Feel free to attempt a PR 👍

[2022-02-28 09:14] driesvints commented on #594
I just noticed you're using the database driver but reporting on the collection engine. It seems this isn't implemented yet on the database engine: https://github.com/laravel/scout/blob/9.x/src/Engines/DatabaseEngine.php#L56

Feel free to send in a PR if you want 👍

[2022-02-28 09:14] #594 closed

[2022-03-01 20:20] goldmerc opened #599 "Aggregated Indexes for all!"
Hi, I'm a big fan of algolia scout extended's aggregator feature and it seems to me that the concept of an aggregated index that resolves to eloquent models of various different classes could be engine agnostic and a really useful feature for all the different scout engines.

I would love to see aggregate indexes become part of the main scout package. Sadly, coding is not my day job and this would

[2022-03-02 10:01] driesvints commented on #599
I do agree that some sort of aggregated index would be useful for Scout. However, making it work on all different engines will be quite the challenge I believe. I'll add this internal backlog to maybe tackle some day but for now we don't have time to put into it ourselves. We'd maybe be open to a PR to kickstart it though. Thanks

[2022-03-02 10:01] #599 closed

[2022-03-03 06:53] gaelle-cari opened #600 "Algolia does not work behind a proxy"
Hello,

Algolia (with Scout Extended package) does not work behind a proxy, I saw this documentation: https://www.algolia.com/doc/api-client/advanced/pass-options-to-the-http-client/php/?client=php but I couldn't find how to set up the proxy.

Could you tell me how to proceed?

Thank you.

Best regards

Gaëlle

[2022-03-03 08:28] driesvints commented on #600
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-03-03 08:28] #600 closed

[2022-03-03 13:26] ivanomatteo opened #601 "registerSearchableMacros should not be in the Searchable trait"
### This is only a code improvement consideration

BaseCollection::macro() deal with a static associative array, so make no sense repeat the macro registration every time the Searchable trait is booted.

functions:
registerSearchableMacros(),
queueMakeSearchable(),
queueRemoveFromSearch()

should be placed in some other place, and invoked only one time (on the provider boot or on the first trait b

[2022-03-03 13:27] driesvints commented on #601
I don't think there's a big issue here but if you want you can always attempt a PR 👍

[2022-03-03 13:27] #601 closed

[2022-03-03 13:31] ivanomatteo commented on #601
@driesvints yes, I'm agree, is not a issue, if i have time I'll make a PR +1

[2022-03-07 15:26] driesvints commented on #398
@magarrent this seems like a feature request. Please try a PR if you want to add this to Scout.

[2022-03-08 09:48] yogesh-jgu opened #602 "Meilisearch Scout with Lumen"
Dear Team,

I am using laravel as web backend and lumen for API.

I want to use Meilisearch for some models. How can I use the scout in lumen?

Thanks

[2022-03-08 09:59] driesvints commented on #602
We have no plans on making any of the first party libraries from Laravel compatible with Lumen. It's best that you switch to Laravel.

[2022-03-08 09:59] #602 closed

[2022-03-08 14:52] masoud-me opened #603 "Cant index the entities ( Undefined index: primaryKey)"
- Scout Version: 0.12.5
- Scout Driver: MeiliSearch
- Laravel Version: 8.0
- PHP Version: 7.4
- Database Driver & Version: mysql
- SDK Version (If using a third-party service): #.#.#

### Description:
i have problem with index command (PHP artisan scout:index XXX)
while i run this command i get

` ErrorException

  Undefined index: primaryKey

  at vendor/meilisearch/meilisearch-php/src/Endpoints/

[2022-03-08 14:53] driesvints commented on #603
Please fill this in and resubmit.

[2022-03-08 14:53] #603 closed

[2022-03-08 14:58] masoud-me commented on #603
updated the issue @driesvints

[2022-03-08 15:17] driesvints commented on #603
What's your `meilisearch/meilisearch-php` version?

[2022-03-08 15:53] masoud-me commented on #603
my meili search version is :  0.25.2

[2022-03-08 16:15] driesvints commented on #603
That's your binary version. What's your SDK version?

[2022-03-08 16:50] masoud-me commented on #603
How can i find it ?

[2022-03-08 19:41] driesvints commented on #603
Composer.lock file

[2022-03-09 07:06] masoud-me commented on #603
Update :

The problem has been fixed; I didn't create the index for the relations of my model, which I want to generate cache for them.

[2022-03-09 18:54] goldmerc commented on #599
Thanks @driesvints. I don’t think my coding is up to the level of submitting a PR for this but imagining for a second that it was, I’m wondering about how it could work.

I played a little the last few days and it's easy to make an aggregate index using the same return value for searchableAs() on multiple models and then having getScoutKey() return a string with the object class and ID. Then you j

[2022-03-11 08:08] Crysalist commented on #223
Got it to work by wrapping it into a query:
[code]

[2022-03-18 02:52] StratMedia opened #604 "Jetstream, Nova + Scout - user.field_referencing_discrepency"
- Scout Version: Latest
- Scout Driver: Database
-Jetstream Version: ^2.6
-Jetstream Stack: Livewire
-Uses Teams: Yes
-Laravel Version:8.83.5
-PHP Version: 8.1.2
-Database Driver & Version: MySql 8.0.27

### Description:
Installed fresh Laravel 8, Jetstream and Nova, in that order. Then installed Laravel/Scout.
All migrations up to date. 100% clean vanilla setup. No customisations.
So far only 1 u

[2022-03-18 03:30] crynobone commented on #604
@StratMedia I already mention the solution to your issue https://github.com/laravel/nova-issues/issues/3781#issuecomment-1070919934

Have you tried it?

[2022-03-18 03:44] StratMedia commented on #604
Yes, I have implemented the workaround, which resolved the immediate problem. Thank you.

[2022-03-18 11:31] oprypkhantc opened #605 "scout:import --all flag"
Hey.

After doing scout:flush the usual next step is to import everything back. To achieve that, you have to import every model one by one.

Instead, a `--all` flag could be introduced that would iterate over all models that use `Searchable` trait and call `scout:import` on every found model.

[2022-03-18 12:18] driesvints commented on #605
I don't think we have plans to add this ourselves but you can always attempt a PR if you want. Thanks

[2022-03-18 12:18] #605 closed

[2022-03-18 13:00] driesvints commented on #604
I've dug into this more but I figured out this is specifically because you didn't define the searchable data (something that's noted in the docs). By default, the `toArray` will include appended data but this of course won't work with the DatabaseDriver. We could filter that out in the engine but given that you can just explicitly define the required columns to search I don't think we should.

`to

[2022-03-18 13:00] #604 closed

[2022-03-18 13:16] oprypkhantc commented on #605
@driesvints I'll be happy to implement it myself, but I see no point in spending time if it's going to get declined. Can you specify whether it's worth trying?

[2022-03-18 13:30] driesvints commented on #605
I don't review Pr's, Taylor does. Your best bet is to try a PR or release it as a package perhaps.

[2022-03-19 01:44] StratMedia commented on #604
Thank you for the feedback. Much appreciated.

[2022-03-20 15:25] homeoftheunits commented on #555
Hi, i have the same problem. Is there an solution in the meantime?

Cheers
Ralf

[2022-03-21 09:09] curquiza commented on #555
Hello @homeoftheunits

You can contact our support (the Meilisearch support) by sharing the detailed steps to reproduce, including the Meilisearch error you get at the final step.
- [Slack](https://meilicommunity.slack.com/join/shared_invite/zt-c4rs8tpi-ZId_q3fw~7cqeuzFG4XHaA#/shared-invite/email)
- [GitHub discussions](https://github.com/meilisearch/meilisearch/discussions)

Before contacting us,

[2022-03-21 10:40] homeoftheunits commented on #555
I know. But it looks like, that it's an Scout Problem. I check this

[2022-03-24 19:31] homeoftheunits opened #607 "Problem with the new Meilisearch Version"
Hi everybody,

i have problems with the newest Meilisearch version. I found out, that the Meilisearch-PHP-Wrapper in Scout is out of date. Is it possible, that scout can update the version of the wrapper? Someone that install meilisearch with sail, will have the same problem as i.

The Problem is, in the old meilisearch wrapper, this command will always send the Bearer Token
[code]
With older meil

[2022-03-25 10:46] driesvints commented on #607
Can you send in a PR?

[2022-03-25 10:46] #607 closed

[2022-03-25 11:18] mmachatschek commented on #607
@homeoftheunits just like the algolia php sdk, the meilisearch php sdk is a suggested package for laravel/scout. This means if you want to use one of the services, you need to make sure, you're using the correct version of the SDK for the service in use.

The [docs mention](https://laravel.com/docs/9.x/scout#meilisearch), that you always need to review your dependencies when you update your compos

[2022-03-28 13:57] homeoftheunits commented on #607
I just wanted to point out that there are currently problems because you have the sdk in your composer.json:

`"meilisearch/meilisearch-php": "^0.19",`

Sorry for that. I update it by myself

[2022-03-28 13:59] driesvints commented on #607
@homeoftheunits that's in require-dev which shouldn't affect userland.

[2022-03-28 14:02] homeoftheunits commented on #607
Sure, i know, but I still just wanted to draw attention to it. So, i do it by myself, and everybody is happy :)

[2022-04-02 22:01] JerryBels opened #611 "Attribute not filterable nor sortable"
- Scout Version: 9.4.5
- Scout Driver: MeiliSearch
- Laravel Version: 9.4.1
- PHP Version: 8.1.2
- Database Driver & Version: mysql/mysql-server:8.0
- SDK Version (If using a third-party service): `curl   -X GET 'http://localhost:7700/version' : {"commitSha":"unknown","commitDate":"unknown","pkgVersion":"0.26.1"}`

### Description:

Hello. Using basic sail, I tried to implement search with Scout,

[2022-04-03 13:52] JerryBels commented on #611
So I did some digging in Meilisearch doc. If I manually add the arguments to to filterable and sortable lists, everything works as intended.

[code]

`orderBy` isn't even documented in [Scout's documentation](https://laravel.com/docs/9.x/scout) but `where` is, and it should definitely AT LEAST include a warning that Meilisearch needs this manual work - the best option being the ability to config t

[2022-04-04 08:29] driesvints commented on #611
So, Scout's docs aren't meant to be a documentation for Meilisearch. That's what Meilisearch docs are for. We note in our docs:

<img width="758" alt="Screenshot 2022-04-04 at 10 26 10" src="https://user-images.githubusercontent.com/594614/161504664-099051e5-7b50-430c-9349-3b68b22c9196.png">

I can find the following in the Meilisearch PHP readme: https://github.com/meilisearch/meilisearch-php#-co

[2022-04-04 08:29] #611 closed

[2022-04-04 14:20] JerryBels commented on #611
Yeah I thought as much after digging much more. Although I really thought Scout was said to resolve everything by itself, so I guess the docs could use a little more clarity on this. Resolved my issue with an artisan command I will integrate in my flow, that will initiate Meilisearch fields properly. But basically, in case someone ends up here :

[code]

`updateSearchableAttributes` is very useful

[2022-04-05 20:09] eliasjtg opened #613 "Facets distribution (Meilisearch)"
Any way to implement facets distribution?

It is implemented in other engines?

https://docs.meilisearch.com/learn/advanced/filtering_and_faceted_search.html#faceted-search

[2022-04-06 06:52] logan-jobzmall opened #614 "Using Searchable Pivot Model in Using() statement causes error on unsearchable()"
- Scout Version: 9.4.5
- Scout Driver: Algolia
- Laravel Version: 8.83.2
- PHP Version: 8.0.17

### Description:
When using `->sync([])` on a model's `BelongsToMany` relationship that uses a custom Pivot model `using(PivotModel::class)`, and that `PivotModel` is using the `Searchable` trait, the `RemoveFromSearch` queued job to remove the detached models causes an error: `All objects must have an

[2022-04-06 09:37] driesvints commented on #613
I don't think the meilisearch engine in Scout atm offers this. You can always attempt a PR if you like.

[2022-04-06 09:37] #613 closed

[2022-04-06 14:59] eliasjtg opened #615 "Meilisearch engine pagination total broken"
- Scout Version: 9.4.6
- Scout Driver: MeiliSearch
- Laravel Version: 8.83.6
- PHP Version: 8.0.16
- Database Driver & Version: Mysql 8.0.28-0ubuntu0.20.04.3
- SDK Version (If using a third-party service): 0.23.1

### Description:

This issue is related with https://github.com/laravel/scout/issues/535 and map id with key name, the solution was https://github.com/laravel/scout/commit/8a7782c5ce72b9

[2022-04-07 08:24] driesvints commented on #615
@mmachatschek is this a Meilisearch incompatibility again?

[2022-04-07 08:49] mmachatschek commented on #615
@driesvints not a incompatibility.

@eliasjtg this is worth a PR to the `MeiliSearchEngine.php` and the `Builder.php`

[2022-04-07 13:56] driesvints commented on #615
I've been checking into the fix here but I'm a little concerned about the `$this->search($builder)` call in `keysFrom`. That seems a bit overkill and will reduce performance? Thoughts?

[2022-04-07 14:06] eliasjtg commented on #615
@mmachatschek I would gladly do a PR, but I'm not very familiar with them, I don't know how to do it

[2022-04-07 14:10] eliasjtg commented on #615
@driesvints i share your concern, in the test I see that I had 192 records and I noticed something:

The pagination are chunked in 5 but the total are 192 records

[code]

`$this->limit` are null what caused the 192 ids to be consulted, this can cause problems with thousand of records

[2022-04-07 15:08] driesvints commented on #614
@logan-jobzmall I'll re-open this once you've provided a repo. Thanks

[2022-04-07 15:08] #614 closed

[2022-04-20 15:04] Schipsi commented on #555
Update for those looking for a quick fix :

After looking at Meilisearch logs i found an error during the index :
[code]

When checking the docs, `lat` and `lng` are supposed to be float and not string : https://docs.meilisearch.com/learn/advanced/geosearch.html#preparing-documents-for-location-based-search

My guess is that the geo fields are not properly changed back to float when indexed by Mei

[2022-04-22 06:32] chucklin72 opened #618 "SCOUT_PREFIX not applied for meilisearch"
- Scout Version: 9.3
- Scout Driver: MeiliSearch
- Laravel Version: 8.54
- PHP Version: 7.4
- Database Driver & Version:
- SDK Version (If using a third-party service): #.#.#
- Meilisearch CLI Version (If using Meilisearch): #.#.#

### Description:

Tried to change the index name. always return laravel error
MeiliSearch\Exceptions\ApiException
Index "buildings_index" not found.
but the index name

[2022-04-22 09:04] #618 closed

[2022-04-28 13:58] danielsimkus opened #620 "syncWithSearchUsingQueue using invalid config values"
Hello,

I may be reading wrong but I've noticed in the code it uses the following config fields which don't exist in the config file.
`scout.queue.queue` and `scout.queue.connection` - these aren't in the config that gets published, and may be from a time before `scout.queue` was a `bool`.

[code]

Should we add `scout.queue_name` and `scout.connection` back into the config and use those?
I'm happ

[2022-04-28 15:22] driesvints commented on #620
This is intentional. See the commit: https://github.com/laravel/scout/commit/79869d5277ecc1f964774477adf90bc2bdc3676f

Might need some documentation though. Welcoming PR's for that 👍

[2022-04-28 15:22] #620 closed

[2022-04-29 06:21] danielsimkus commented on #620
Sorry just to confirm, that means you accept both a boolean or an array value for `scout.queue` ?

It does look like there isn't any `===` checks against it but if someone did add them in the future without noticing, it could have adverse affects potentially.

Happy to update the docs either way, if that's intentional thats fine 👍

[2022-04-29 12:13] driesvints commented on #615
I just noticed you were using `->with` in a subquery and that's not supported. `with` can only be used on the base query for eager loading and not in subqueries.

With the following example, everything works fine and I get the correct pagination results:

[code]

So I don't see an issue right now.

[2022-04-29 12:13] #615 closed

[2022-05-03 07:44] slovenianGooner commented on #615
I am having a similar issue:

[code]

But if I load page 2, the pagination is correct.
[code]

The only difference in the params is that with page 1, we sent "offset" of 0, and with page 2, the "offset" is 15.

[2022-05-04 09:47] curquiza commented on #615
Hello @slovenianGooner
This is something related to the Meilisearch behavior, and not related to laravel/scout if I'm correct.
The Meilisearch support is available to help you on our side 😄
We've opened a discussion to explain the behavior of `nbHits` in more detail: https://github.com/meilisearch/product/discussions/467
Otherwise, for any other questions related to Meilisearch you can open [a dis

[2022-05-06 15:58] zerexei opened #623 "output on vscode git bash terminal is a bit weird when publishing scout vendor."
- Scout Version: 9.4
- Scout Driver: Database
- Laravel Version: 9.11
- PHP Version: 8.0.2
- Database Driver & Version: mysql
- SDK Version (If using a third-party service): #.#.#
- Meilisearch CLI Version (If using Meilisearch): #.#.#
- Git Bash Version: 2.36

### Description:
The output on vscode git bash terminal is a bit weird when publishing scout vendor.

![vendor-publish-scout-output](https

[2022-05-09 08:12] driesvints commented on #623
Seems to work fine for me with latest Scout and Laravel.

<img width="806" alt="Screenshot 2022-05-09 at 10 12 03" src="https://user-images.githubusercontent.com/594614/167368058-85c75101-5c66-4bf5-97ab-c269ada70b58.png">

[2022-05-09 08:12] #623 closed

[2022-05-16 22:11] eliasjtg commented on #615
@driesvints

[2022-05-17 07:28] driesvints commented on #615
Ah I was mistaking this for a subquery but it's actually indeed attaching the where clause to the base query.

[2022-05-17 13:56] eliasjtg commented on #615
Please reopen the merge request, the bug is currently active, I'll try to help by digging deeper, on the server we had to use Build::macro to override the pagination method to make it work

[2022-05-17 14:01] driesvints commented on #615
@eliasjtg I think for now, since you're the only one experiencing this, it's best to attempt a PR if you know a solution.

I'm still unsure if the usage of `->with()` there actually makes sense...

[2022-05-20 14:30] Harry-Harrison commented on #58
Thank you everyone in this thread!

So to anyone else, if you want to use `q` for your query parameter, for instance if `query` is disallowed by any other packages... *cough...* You need to do this.

[code]

This will return your pagination urls without the `query` parameter and with the q parameter with the value of the request.

[2022-06-04 13:31] VanoDevium opened #626 "extra options"
I have looked at a large number of issues related to passing additional options to a search query.

It all comes down to using a callback.

But it seems to me that in most cases, using a callback is a verbose thing.

Why not just make an `extra()` method, in which each user of the scout can simply pass an array of additional parameters that will simply merge into the final request.

I will try to

[2022-06-07 07:18] driesvints commented on #626
I think, right now we have no plans to add a method specific for Meilisearch for this. Feel free to continue to use the callback.

[2022-06-07 07:18] #626 closed

[2022-06-10 08:01] marcin-derlukiewicz opened #627 "no results from collection engine when scoutKeyName used"
- Scout Version: 9.4.9
- Scout Driver: Collection
- Laravel Version: 9.17.0
- PHP Version: 8.1.6
- Database Driver & Version: -
- SDK Version (If using a third-party service): -
- Meilisearch CLI Version (If using Meilisearch): -

### Description:
when maping the results to instances of the given model via a lazy collection, collectionEngine uses $model->getKeyName to obtain the ids (Laravel\Scout

[2022-06-10 09:39] driesvints commented on #627
Heya, thanks for reporting.

We'll need more info and/or code to debug this further. Can you please create a repository with the command below, commit the code that reproduces the issue as separate commits on the main/master branch and share the repository here? Please make sure that you have the [latest version of the Laravel installer](https://github.com/laravel/installer) in order to run this c

[2022-06-10 11:17] marcin-derlukiewicz commented on #627
i have some tests in this pr, but i don't know how i shoud handle qualified column names

[2022-06-14 06:27] maximusblade commented on #366
Still a valid question

[2022-06-23 12:32] bastienu opened #629 "Skips some entries when importing"
I have a huge amount of data to import in ElasticSearch with Laravel scout:import.

Problem is that my import is very long, and I have to stop it after some hours. I don't want to launch it again from the beginning, because it will never ends.

So how to begin the scout:import from a specific id for example? Maybe the feature has already been requested?

Thanks.

[2022-06-23 12:51] #629 closed

[2022-06-23 13:07] michaelklopf commented on #536
We have similar issues, the problem is that scout says all is good, but not even tasks are created in meilisearch. Doing it with curl on the machine does create entries in the index.

[2022-06-23 15:24] driesvints commented on #627
We're not looking to change this right now.

[2022-06-23 15:24] #627 closed

[2022-06-23 22:43] Wei102193 commented on #626
why is attributesToHighlight not working for me?? Do I need to update some setttings?

[2022-06-23 23:19] Wei102193 commented on #626
NVM, I used get() instead of raw(), that was why It did not show the _formatted object.

[2022-06-29 00:45] 99linesofcode commented on #555
The solution proposed by @Schipsi resolved the issue for me as well. Without the cast to `float` my index remains empty despite flushing and updating the indices. Looks to me like an issue with `laravel/scout`.

[2022-06-29 08:44] curquiza commented on #555
Hello! FYI, once Meilisearch v0.28.0 will be out, this problem will not exist anymore!
Just don't forget to update your meilisearch-php client when upgrading your Meilisearch version!

[2022-07-14 00:55] dwightwatson commented on #544
Did anyone find a solution for this using Scout out of the box with Meilisearch? Looks like the solutions above require customising the engines or sync commands.

[2022-07-15 13:35] plakhin commented on #258
Sometimes I'm trying to search models for which indices were not created yet. I'm getting "Index local_users does not exist" `Algolia\AlgoliaSearch\Exceptions\NotFoundException` Exception that is expected.
However, I'd like to just catch this exception to log the error and return empty search results.
But when I'm trying to catch the exception is simply doesn't work.

Is there a way to achieve thi

[2022-07-18 10:27] VAZaitesev opened #634 "Searchable::search()->keys() returns array instead of a collection when database driver is activated"
- Scout Version: 9.4.9
- Scout Driver: Database
- Laravel Version: 9.20.0
- PHP Version: 8.1.0
- Database Driver & Version: PgSql 14.1

### Description:
Searchable::search()->keys() returns array instead of a collection when using 'database' scout driver.
but the defenition of keys() method tells it should return a Collection

### Steps To Reproduce:

make SCOUT_DRIVER=database in .env
use Searcha

[2022-07-20 06:13] swapnilsarwe opened #636 "Meilisearch Pagination with deprecated nbHits"
Support in Scout for meilisearch 0.28.0

**Setup**:
PHP: 8.1
meilisearch-http: 0.28.0
"laravel/framework":  "v9.20.0"
"laravel/scout": "v9.4.9"
"meilisearch/meilisearch-php": "v9.20.0",
"meilisearch/meilisearch-php": "^0.23",

Meilisearch has renamed `nbHits`  as per the new release [v0.28.0](https://github.com/meilisearch/meilisearch/releases/tag/v0.28.0).
Because of which we get `Undefined array

[2022-07-20 06:20] mmachatschek commented on #636
@swapnilsarwe you need to use the correct `meilisearch/meilisearch-php` package in conjunction with meilisearch itself. Check the releases page of [meilisearch/meilisearch-php here](https://github.com/meilisearch/meilisearch-php/releases) to find out which SDK version is compatible with which meilisearch server version.

The problem you are describing is solved by upgrading the SDK version.

https

[2022-07-20 06:23] #636 closed

[2022-07-20 06:24] driesvints commented on #636
Thanks @mmachatschek

[2022-07-21 04:11] SadeghPM commented on #615
problem still exists.
Another problem for pagination count comes from `mapIds` in `MeiliSearchEngine.php`.
In functions comment the problem described!
[code]
First item of each search result is not primary key.

[2022-07-26 20:27] PitchRE opened #637 "Sorting inside query() callback is not reflected in results."
- Scout Version: ^9.4
- Scout Driver: MeiliSearch
- Laravel Version: ^9.11
- PHP Version: 8.1.6
- Database Driver & Version: ??? mysql  Ver 8.0.26
- SDK Version (If using a third-party service): #.#.#
- Meilisearch CLI Version (If using Meilisearch): 8.1.6

### Description:
orderBy seems to not affect results when using it inside query() callback.
Database queries are executed correctly but result

[2022-07-28 08:31] driesvints commented on #637
@mmachatschek do you know what's going on here?

[2022-07-28 10:40] mmachatschek commented on #637
@PitchRE @driesvints the query callback is used to retrieve e.g. additional fields but is not used for ordering results.

The search engine is responsible for ordering the results, therefore we have  `map()` methods in the corresponding engines that will reorder the results fetched from the database (the database will most definitely return a different order than the search engine).

To order the

[2022-07-28 12:13] driesvints commented on #637
Thanks @mmachatschek

[2022-07-28 12:13] #637 closed

[2022-08-02 12:02] JerryBels opened #639 "Paginate with global scopes shows wrong number of pages and hides relevant results"
- Scout Version: 9.4.9
- Scout Driver: MeiliSearch
- Laravel Version: 9.18.0
- PHP Version: 8.1.7
- Database Driver & Version: mysql/mysql-server:8.0
- SDK Version (If using a third-party service): #.#.#
- Meilisearch Version (If using Meilisearch): 0.26.1
- Meilisearch-php Version (If using Meilisearch): 0.23.1

### Description:

When having a global scope applied to a model, and searching on tha

[2022-08-03 11:42] JerryBels commented on #639
I realized the bug is even worse than that. It's not only that the page count is wrong, it's that if one of the legit results is on page 2, you won't see it right away - you have to go to page 2 to see it. Page 1 :

![1](https://user-images.githubusercontent.com/4408419/182598028-db7fd662-df26-460c-ad49-6ff7301306a8.png)

And then go to page 2 :

![2](https://user-images.githubusercontent.com/4408

[2022-08-03 12:32] JerryBels commented on #639
Created a repository demonstrating the issue - https://github.com/JerryBels/scout-global-scope-bug

[2022-08-04 12:34] driesvints commented on #639
No idea what's going on here. @mmachatschek do you know?

[2022-08-05 05:46] MatusBoa commented on #615
@SadeghPM

Found same problem with this. Hours of debugging and the whole problem was that primaryKey was not on the first place in `hits` (result from meilisearch)

[2022-08-05 06:30] SadeghPM commented on #615
hi @driesvints
this is very serious bug in meilisearch driver and could be fix easily.

cc @MatusBoa

[2022-08-08 07:37] driesvints commented on #639
It seems we're not pursuing a fix right now for this: https://github.com/laravel/scout/pull/640. I've sent in a PR to document this limitation here: https://github.com/laravel/docs/pull/8104. Sorry about that.

[2022-08-08 07:37] #639 closed

[2022-08-08 07:51] JerryBels commented on #639
Yeah I kinda expected this to be the outcome. I didn't find an easy way to fix this either. Thanks for reporting back.

[2022-08-08 18:55] joostdebruijn opened #641 "Models using Searchable not usable in unit test"
- Scout Version: 9.4.10
- Scout Driver: Collection (during tests)
- Laravel Version: 9.23.0
- PHP Version: 8.1.9
- Database Driver & Version: n/a
- SDK Version (If using a third-party service): n/a
- Meilisearch CLI Version (If using Meilisearch): n/a

### Description:
When writing unit tests, using models with the `Searchable` treat are failing during booting of the model with the message `A faca

[2022-08-09 07:14] driesvints commented on #641
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-08-09 07:14] #641 closed

[2022-08-16 09:10] sajad-nyn opened #642 "two primary key for laravel scout"
hey folks. i have a problem in laravel scout.
i have a table with two primary key (id,serverId) and meilisearch does not support two primary key in one index .
in laravel scout i want to specify different primary key of combine between two primary keys  like : uid= id_serverId.

how  is it possible for me?

[2022-08-16 09:12] sajad-nyn commented on #642
also i have created this index but with laravel scout but when i want to use search i have this error:
Column not found: 1054 Unknown column 'uid' in 'where clause'

[2022-08-16 09:14] driesvints commented on #642
Unfortunately this is not possible.

[2022-08-16 09:14] #642 closed

[2022-08-16 09:20] sajad-nyn commented on #642
why???

[2022-08-21 02:26] syn6UK opened #644 "Breaking queue on database driver"
- Scout Version: 9.4.5
- Scout Driver: Database
- Laravel Version: 9.4.1
- PHP Version: 8.1
- Database Driver & Version: MYSQL 8

### Description:

Not sure exactly what is causing this, but there are a few pattenrs i've observed with this.

The following circumstances neec to be considered.

- All models are using Ordered UUIDs as opposed to incrementing integers.
- The driver is database
- The q

[2022-08-21 02:27] syn6UK commented on #644
My model

`

class Donor extends Authenticatable
{

    use Searchable,
        SoftDeletes,
        HasOrderedUUID,
        HasApiTokens,
        HasDataColumn;

    protected $guarded = [];

    public static function getCustomColumns(): array
    {
        return [
            'id',
            'anonymous',
            'title',
            'first_name',
            'last_name',
            'ema

[2022-08-21 22:30] caredev opened #645 "Attribute `sku` is not sortable. Available sortable attributes are: ``.""
- Scout Version: 9.4.10
- Scout Driver: MeiliSearch
- Laravel Version: 9.24.0
- PHP Version: 8.0.22
- Database Driver & Version: 0.28.1
- Meilisearch CLI Version (If using Meilisearch):  0.28.1

### Description:
After importing the model with `sail artisan scout:import` the items are not sortable.
#### This does not work
[code]

Throws the following exception.
[code]

[2022-08-22 05:04] mmachatschek commented on #645
@caredev index settings (eg. ranking rules, sortable attributes, facets) on meilisearch need to be set separately.

In order to use sortable options with meili you have to update the sortable attributes https://docs.meilisearch.com/learn/advanced/sorting.html#configuring-meilisearch-for-sorting-at-search-time

This is not an issue on the Laravel Scout driver

[2022-08-22 06:15] driesvints commented on #645
Thanks @mmachatschek

[2022-08-22 06:15] #645 closed

[2022-08-22 07:05] driesvints commented on #644
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2022-08-22 07:05] #644 closed

[2022-08-22 16:40] caredev commented on #645
I thought it was implemented in laravel scout, sorry for that. Thank you.

[2022-08-24 16:34] olivM opened #646 "dontReorderAssociatables() on BelongsToMany ( for Scout searchable models )"
Can we get some kind of dontReorderAssociatables() for BelongsToMany ?

as the AttachableController do a
[code]
and by so, it mess up the order returned by Scout search

thanks !

[2022-08-25 05:50] driesvints commented on #646
The order is done by the search engine.

[2022-09-06 03:02] Johnny-Den opened #647 "Asynchronous task call encounters the problem of master-slave database delay"
DataBase：myql, use master and slave
Scout：asynchronous queues are used

Description：When my program executes `searchable()`， `Searchable.php queueMakeSearchable()` add a task。now mysql The master-slave synchronization is delayed，It happened that the index task was executed using the slave database connection, and no record to read。

I can delay the task to avoid this problem。However, whether the a

[2022-09-06 06:29] driesvints commented on #647
I'm not really sure what the issue is here. Seems you found a solution to your problem 👍

[2022-09-06 06:29] #647 closed

[2022-09-12 20:38] hannanmiah opened #648 "Collection with pagination data not matched or giving unwanted results with where clause."
- Scout Version: 9.4.10
- Scout Driver: MeiliSearch
- Laravel Version: 9.25.0
- PHP Version: 8.1.9
- Database Driver & Version: Mysql@8.0.30-0ubuntu0.22.04.1
- SDK Version (If using a third-party service): #.#.#
- Meilisearch CLI Version (If using Meilisearch): 0.28.1

### Description:
![image](https://user-images.githubusercontent.com/36930986/189752508-a9c4bfed-91ed-447c-abaf-ae7d6d0af9d3.png)

[2022-09-12 22:55] TechhDan opened #649 "Support for compatibility with popular column sorting libraries"
Is there a chance Scout would be able to add support for working with column sorting libraries such as [Kyslik / Column Sortable](https://github.com/Kyslik/column-sortable) or [S-Damian / Larasort](https://github.com/s-damian/larasort). Both of these libraries combined together would make an amazing way to facilitate creating data-tables like functionality.

The problem is both of these libraries

[2022-09-13 07:36] driesvints commented on #649
Hi there. Right now, we don't have plans for this, sorry.

[2022-09-13 07:36] #649 closed

[2022-09-13 07:36] driesvints commented on #648
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2022-09-13 07:36] #648 closed

[2022-09-16 07:25] kiwo12345 opened #650 "model update() event dont trigger event in scout"
- Scout Version: 9.4.9
- Scout Driver: MeiliSearch
- Laravel Version: 9.2
- PHP Version: 8.0.2

### Description:

The model update() event doesnt seem to trigger a event in scout to remove the items

`Items::where('state', 2)->where('active', 1)->limit(1000)->update(['active' => 0]);`

I have set

[code]

Which should make the rows unsearchable if they get saved with a different value?

[2022-09-16 08:00] crynobone commented on #650
![image](https://user-images.githubusercontent.com/172966/190588009-afd2c8f9-0780-4066-afd1-347a0af3d271.png)

[2022-09-16 08:07] #650 closed

[2022-09-16 08:07] driesvints commented on #650
Thanks @crynobone

[2022-09-16 09:56] kiwo12345 commented on #650
Thank you for the clarification @crynobone, is there any way to do a bulk update and also remove the items from the search index?

[2022-09-23 10:21] flexchar opened #651 "Scout won't return correct model `->keys()` when using custom `searchableAttributes` from Meilisearch"
- Scout Version: 9.4.10
- Scout Driver: MeiliSearch
- Laravel Version: 9.27.0
- PHP Version: 8.1.8
- Meilisearch CLI Version (If using Meilisearch): 0.28.1

### Description:

I've discovered that `Searchable::search('query terms')->keys();` fails when customizing [ `searchableAttributes` ](https://docs.meilisearch.com/reference/api/settings.html#searchable-attributes) by Meilisearch.

Let's say yo

[2022-09-23 11:50] driesvints commented on #651
Thanks @flexchar. @mmachatschek I'm not sure it was intended that Scout supported this? The related PR does look good though.

[2022-09-26 14:29] DarronEngelbrechtEdge opened #653 "MeiliSearchEngine does not work with custom Scout keys"
- Scout Version: 9.4.10
- Scout Driver: MeiliSearch
- Laravel Version: 9.21.6
- PHP Version: 8.1.9
- Database Driver & Version: MySQL 8.0
- SDK Version (If using a third-party service): N/A
- Meilisearch CLI Version (If using Meilisearch): meilisearch-http 0.28.0

### Description:

When using custom index keys with `getScoutKey()` in a Searchable model the MeiliSearchEngine does not correct add th

[2022-09-26 15:48] mmachatschek commented on #653
@DarronEngelbrechtEdge if you want to override the value of the primary key in meilisearch you would need to override the `->toSearchableArray()` method too.

Unfortunately the documentation is not clear enough in this case.

By default the `toSearchableArray()` method just creates an array form of the model and sends the payload to the underlying search engine.

@driesvints no duplicate of #651 a

[2022-09-26 16:21] mmachatschek commented on #651
@driesvints the response seems legit, BUT I think @curquiza mentioned somewhere, that the search response will return the primaryKey as the first element in the search payload of the document.

@curquiza did this recently change? I do remember to have tested this a few times were the primaryKey was the first element in the payload

[2022-09-27 05:48] DarronEngelbrechtEdge commented on #653
@mmachatschek and @driesvints

Thanks for the feedback, @mmachatschek is 100% correct regarding point 1, the following works to load the custom Scout key in the index...

[code]
Maybe this issue can be fixed with documentation rather than switching the order in the array_merge() as I suggested in point 1 of the issue description which will just change the behavior and may still seem strange to som

[2022-09-27 07:46] francoism90 commented on #653
@DarronEngelbrechtEdge
I'm having the issue, using your workaround indeed fixes the issue:
[code]

[2022-09-27 11:01] curquiza commented on #651
Hello everyone!
No, as far as I know, we haven't changed anything...

However, I don't think getting the `first()` element of the object is a good solution either. Indeed, Meilisearch returns a JSON response, and even if Meilisearch tries to keep the order of the document's fields as much as possible, it cannot be guaranteed by [definition of objects in JSON](https://stackoverflow.com/questions/72

[2022-09-27 13:31] #651 closed

[2022-09-27 13:32] driesvints commented on #651
Thanks all, we've gone ahead and merged a fix but feel free to discuss further if you wish.

[2022-09-28 06:30] DarronEngelbrechtEdge commented on #653
@mmachatschek @driesvints - I have opened a draft PR #655  to demonstrate the issue with getScoutKey being calculated from a field by hashing the value in SearchableModelWithCustomKey. I'm not too sure how to link it to this issue. Hope this helps to understand the issue, will see if I can take a stab at fixing it a bit later today. Many thanks!

[2022-09-28 07:53] DarronEngelbrechtEdge commented on #653
@mmachatschek @driesvints - I tried to replicate my issue directly using the unit test below but I was getting different results in the Scout package (SCOUT_QUEUE=false) as to what I get in my project with SCOUT_QUEUE=true. Switching SCOUT_QUEUE=false in the project gives me the same results as in the unit test (things would work 100%).

Thus, I believe my PR demonstrates the core issue as the uni

[2022-09-29 07:00] DarronEngelbrechtEdge commented on #653
For anybody waiting on the outcome here I have worked around this overriding the RemoveFromSearch job for the application using the changes in PR #655 - to override the job just add something like the following to your AppServiceProvider.php - thanks Laravel and Scout - that was easy! :-)

[code]

[2022-10-04 14:10] #653 closed, assigned to nobody

[2022-10-07 14:13] Casmo commented on #244
For those coming from Google and still running into this problem: use `scout:flush <model>` before importing the batch.

[2022-10-14 16:31] michele-grifa opened #658 "Command scout:import don't auto-create index and don't import nothing"
- Scout Version: 9.4.12
- Scout Driver: MeiliSearch
- Laravel Version: 8.83.25
- PHP Version: 8.0.2
- Database Driver & Version: SQL Server 2017
- SDK Version (If using a third-party service): #.#.#
- Meilisearch CLI Version (If using Meilisearch): 0.29.1

### Description:
I followed the docs to integrate Scout in a project and I'm using Meilisearch using a Docker Container, but when I try to laun

[2022-10-19 14:20] michele-grifa commented on #658
Resolved. I was overriding the `toSearchableArray` function and i didn't include id in the array.

[2022-10-19 14:20] #658 closed

[2022-10-21 12:29] andreasbakir opened #659 "add computed properties from raw results"
In Meilisearch when you sort by a geoPoint, Meilisearch will automatically add the computed property "_geoDistance" to the results. But this field is not included in the search results when you call the ```->paginate();``` or ```->get();``` on the query builder. But when you call the ```->raw();``` method the computed property is obviously included in the results.

So casting the raw results into

[2022-10-21 13:05] mmachatschek commented on #659
@andreasbakir the normal `->get()` method will load a fresh version of the model from the database, so you will not have the geoDistance property in the model. If this is something you depend on you have to write a wrapper around the raw result and load the models from the database by yourself (as of now).

@driesvints after discovering that algolia also supports a geo search, it may be useful to

[2022-10-24 07:35] driesvints commented on #659
I think this might indeed be useful. We'd need to figure out a way to set this extra metadata on eloquent models. Probably through a new property on the Searchable trait? Not sure. Feel free to try a PR for this. Thanks!

[2022-10-24 07:35] #659 closed

[2022-10-24 10:12] furmannodesol commented on #555
I'm using meilisearch v0.29.0, however the _geo index remains empty despite flushing and updating the indices. tried both by casting as float and string.
`'_geo' => [
                'lat' => (float) $this->latitude,
                'lng' => (float) $this->longitude,
            ],`

[2022-10-30 14:17] Jamesking56 opened #662 "When query parameter to load page is not `query`, Scout renames it to `query`"
A little bug I found with Scout.

If you have a page which puts the search query as a URL parameter like so:

`http://example.com/mypage?search=someterm`

If you're using Scout and then having a Laravel Paginator on the results page, it renames the URLs in the paginator to:

`http://example.com/mypage?query=someterm`

Looks like `query` is hard-coded in a lot of places, like here for example:

htt

[2022-10-30 14:20] Jamesking56 commented on #662
Example code here that shows the problem:

[code]

Notice that the links from the paginator now have `?query=` instead of `?search=` due to the hard-coding inside of Scout

[2022-10-30 16:00] woutervandamme opened #663 "Scout Algolia identify with a different guard"
Currently, when using the 'identify' variable for Algolia, scout currently sends the ip address + the id of the current logged in user to Algolia.

I'd like to have a way to overwrite the used authentication guard. It currently only supports the default guard.

[2022-10-31 09:16] driesvints commented on #662
Please re-post this with a filled out issue template. Thanks

[2022-10-31 09:16] #662 closed

[2022-10-31 09:30] Jamesking56 opened #664 "When query parameter to load page is not `query`, Scout renames it to `query`"
- Scout Version: 9.4.12
- Scout Driver: Database
- Laravel Version: 9.37.0
- PHP Version: 8.1.11
- Database Driver & Version: MariaDB 10.6
- SDK Version (If using a third-party service): N/A
- Meilisearch CLI Version (If using Meilisearch): N/A

### Description:

If you have a page which puts the search query as a URL parameter like so:

`http://example.com/mypage?search=someterm`

If you're using

[2022-10-31 09:30] Jamesking56 commented on #662
#664

[2022-10-31 09:31] driesvints commented on #663
Actually it should already be possible with an override:

[code]

I haven't tried this but I think it should work. But I agree, an easier way to override this would be cool. An extra option could be added for this, feel free to send in a PR if you like.

[2022-10-31 09:31] #663 closed

[2022-10-31 09:32] driesvints commented on #664
Heya, this is correct. Right now we have no plans on making. this customizable. Please see https://github.com/laravel/scout/pull/82

[2022-10-31 09:32] #664 closed

[2022-11-01 21:32] erycson commented on #555
I updated the client to version 0.25.0, but it didn't work

In my tests, I noticed the following behavior:

[code]

[2022-11-09 19:52] Stevemoretz opened #665 "Filter without search"
I'm new to scout, so I don't know if this is already included or not?

What I'm exactly talking about is using the where and whereIn without search so it filters the whole index, is an empty string for search the right solution here or is there a special value, or a special way?

Or a feature needs to be added?

[2022-11-10 14:13] driesvints commented on #665
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-11-10 14:13] #665 closed

[2022-11-16 17:21] JerryBels opened #667 "Pagination shows wrong number of pages due to hard limit"
Scout Version: 9.4.12
Scout Driver: MeiliSearch
Laravel Version: 9.34
PHP Version: 8.1.7
Database Driver & Version: mysql/mysql-server:8.0
SDK Version (If using a third-party service): #.#.#
Meilisearch Version (If using Meilisearch): 0.29.1
Meilisearch-php Version (If using Meilisearch): 0.24.2

### Description:

Meilisearch have a hard limit of 1000 elements that can be retrieved by a single que

[2022-11-16 18:16] mmachatschek commented on #667
having pages return more than 1.000 items is not the typical use case. The hard limit is more or less a "security" feature of meilisearch. For your specific use case, you must set the `maxTotalHits` on the index pagination setting. There is nothing we can do from scout side.

https://github.com/meilisearch/meilisearch/releases/tag/v0.28.0#:~:text=Limit%20of%20documents%20returned%20by%20search

[2022-11-16 19:15] JerryBels commented on #667
I kindly disagree with you. When you have an e-commerce, returning more than 1000 items is a very common use case. I'm building a CRM, and returning thousands of items is usual. I don't have a problem that I can't resolve, indeed I can set the param, as I said above, but a bug remains for scout. And I think Scout should limit the number of pages according to the hard limit, maybe using a config pa

[2022-11-17 10:43] JerryBels commented on #667
So it looks like Meilisearch themselves are making enhancements for pagination systems : https://github.com/meilisearch/meilisearch/discussions/2635

Apparently this should be in v0.30 of Meilisearch. I suggest we wait and make use of it when it's out, it should be pretty easy to fix scout's bug with it.

[2022-11-17 13:39] mmachatschek commented on #667
@JerryBels on a second glance, it looks like you are talking about two separate issues? At one side, that there are not more than 1.000 results returned by meilisearch and the second issue, you encounter is the mismatch of the total hits.

for the second issue, you are right, there is a new pagination api that solves these issues. Check this PR for more info on whats changing on scout side, as soo

[2022-11-17 14:43] JerryBels commented on #667
Well, I was talking only about one issue, the second you name, but it looks like you guys were already on it, and this new pagination api will indeed fix the problem. The first is not an issue as it is configurable. Since you were already aware of this and the PR is already packed and waiting, I'm closing this issue.

[2022-11-17 14:43] #667 closed

[2022-11-18 12:04] cs-media opened #668 "Can't populate _geo field in meilisearch from Scout"
- Scout Version: 9.4.12
- Scout Driver: Meilisearch v0.29
- Laravel Version: 9.39.0
- PHP Version: 8.1.10
- Meilisearch CLI Version: 0.25.0

### Description:
I'm using scout and Meilisearch and can't seem to populate the _geo field with a float or a string.

public function toSearchableArray()
 {
     return [
         'lat' => (float) $this->address->lat,           // WORKS FINE
         'lng' =>

[2022-11-22 07:46] me-masoud commented on #175
i had this problem with in my local , so i runned meilisearch without master key, and it fixed

[2022-11-22 14:03] cs-media commented on #668
I've just tried adding (object), flushing and reimporting and it's the same.

[2022-11-22 14:12] mmachatschek commented on #668
The code looks ok. I suppose the index is not configured for geo functionallity.

@cs-media please ask on the corresponding meilisearch slack channels. They are really helpful when you have any questions about configuring or support questions.

Laravel Scout seems to work ok here 👍

[2022-11-22 14:16] driesvints commented on #668
Thanks @mmachatschek

[2022-11-22 14:16] #668 closed

[2022-11-24 13:07] cs-media commented on #668
For anyone else struggling with this, the _geo data is being stored, but the Meilisearch Dashboard doesn't output the _geo fields. A search via curl showed the lat and lng just fine.

A GitHub issue has created to resolve this: [https://github.com/meilisearch/mini-dashboard/issues/358](https://github.com/meilisearch/mini-dashboard/issues/358)